Django==1.6.8
DjangoCaptcha==0.2.12
Markdown==2.6.5
Pillow==2.3.0
amqp==1.4.9
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
billiard==3.3.0.22
celery==5.2.2
characteristic==14.2.0
chardet==2.0.1
colorama==0.2.5
cssselect==0.9.1
django-celery==3.1.17
django-emoji==2.0.0
django-pagination==1.0.7
django-smtp-ssl==1.0
gunicorn==19.4.5
html5lib==0.999
kombu==3.0.33
meld3==1.0.2
numpy==1.8.2
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pyparsing==2.0.1
pyserial==2.6
python-apt==0.9.3.5ubuntu1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
pytz==2012c
queuelib==1.2.2
requests==2.2.1
service-identity==14.0.0
simplejson==3.8.1
six==1.5.2
ssh-import-id==3.21
supervisor==3.0a9
uWSGI==2.0.12
urllib3==1.7.1
w3lib==1.10.0
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.1.1
