#agreement{background-color:#eeeef0;width:100%; min-width: 1024px;}
#agreement .agree_mid{width:1024px;min-height:650px;margin: 0 auto;}
#agreement .agree_mid .agree_mid_content{width:600px;background-color:#FFFFFF;margin: 0 auto;}
#agreement .agree_mid .agree_mid_content .content_title span{font-size:32px;padding: 20px 0 0 0;display: block;text-align: center;}
#agreement .agree_mid .agree_mid_content .content_title div{border-top:1px solid #eeeef0; width:518px; height:1px;margin: 20px auto;}
.content_scroll{ height:370px;width:520px;overflow-y:scroll;color:#333333;arrow-color:#333333;track-color:white;font-size:14px; border:1px;margin: 0 auto;}
.content_scroll label{font-weight:bold;font-size:16px;}
.content_button{padding: 20px 0}
.content_button input[type="button"]{color:#FFFFFF;margin-top:20px;padding:5px 30px;background-color:#4a3c70;border: 0; }
.content_button .line{margin: 0 auto;border-top:1px solid #eeeef0; width:518px; height:1px;}
.content_button .button_center{text-align: center;}
::-webkit-scrollbar {
	width:8px;
}
::-webkit-scrollbar-track {
	background-color:#FFFFFF;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
	background-color:#999999;
	border-radius:3px;-moz-border-raduis:3px;-webkit-border-radius:3px
} /* 滑块颜色 */

::-webkit-scrollbar-button {
	background-color:#999;
	border-radius:3px;-moz-border-raduis:3px;-webkit-border-radius:3px
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
	background-color:#FFFFFF;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

::-webkit-scrollbar {
	width:8px;
}