.conext{background:#EEEEF0;border:1px solid #EEEEF0;min-width:1440px;max-width: 1660px;min-height: 770px;}
a{ text-decoration:none;color:#333}
.link_mt a:hover{color:#FF0000}
.divvdc{width:800px;background-color:#FFFFFF;margin:50px auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.div_left{width:140px;position: absolute;line-height:40px;background-color:#FFFFFF;padding:15px;margin-top:20px;}
.div_right{width:630px;height:100%;background-color:#FFFFFF;margin-left: 170px;margin-bottom: 50px;}
.div_left ul{margin-top:40px;}
.div_left ul li{list-style-type:none;}
.blockCo{color:#000000;}
.grayColor{color:#808080;}
.clickTag{border-left:2px solid red;padding:0 5px 0 6px;height:35px;line-height:60px;display:inline-block;}
.div_left a{margin-left:18px;font-size:18px;width:100px;padding:0 5px 0 6px;display:block;height:35px;line-height:60px;}
.div_left a:hover{border-left:2px solid red;padding:0 5px 0 6px;height:35px;line-height:60px;display:inline-block;}
.left_label{position: relative;top:-11px;cursor: pointer}
.display{display:none;padding-top:43px;background:#FFFFFF;}
.display p{font-size:16px;width:570px}
.downline{width:75px;height:1px;background:#ccc;margin:10px 0 10px 17px;}
.biaoti{font-size:20px;}
.con_right{padding-top:43px;background:#FFFFFF;}
.con_right p{font-size:16px;}
.div_left ul{margin-top:40px;}
.div_left ul li{list-style-type:none;}
.partner ul{margin-right:5px;}
.partner ul li{float:left;list-style-type:none;margin-left:5px;}
.partner ul li a{text-decoration:none;color:#000000;}
.partner ul li a img{width:200px;height:50px;padding:15px;}

