.zc-footer{width: 100%;background-color: #372C3a;min-width: 1150px;}
dl,dd{margin: 0;}
a{text-decoration: none;}
.footer-wrapper{width: 1150px;margin-left: auto;margin-right: auto;}
.footer-wrapper:before,.footer-wrapper:after{content:'';display: table;}
.footer-wrapper:after{clear: both;}
.footer-box{width: 280px;position: relative;margin: 15px 0;}
.footer-box-desc{width: 360px;position: relative;margin: 10px 0;}
.footer-box-img{width:200px;position: relative;}
.lt{float: left;}
.rt{float: right;}
.footer-box h3,.footer-wrapper h3{font-size: 20px;color: #e1604d;text-align: left;margin: 10px 0;}
.zc-footer .list-item,.zc-footer .list-item-desc{padding: 10px 0;}
.zc-footer .list-item:before,.zc-footer .list-item-desc:before{content:'';border-top: 1px solid #e1604d;width: 95%;height: 1px;position: absolute;top: 25%;left: 0;}
.zc-footer .list-item a{color: #fff;display: inline-block;width: 120px;}
.zc-footer .list-item a{font-size: 14px;}
.zc-footer .list-item a:hover{color: #ff0000;}
.zc-footer .list-item .item-1,.zc-footer .list-item .item-2,.zc-footer .list-item .item-3{padding:5px;}
.zc-footer .footer-box-img .list-img{width: 140px;margin:15px auto;text-align: center;color: #fff}
.zc-footer .footer-box-img .list-img dd{padding: 5px 0;}
.zc-footer .list-item-desc dd{color: #fff;padding: 5px;font-size: 14px;}