
.rotate{width:1140px;margin-left:210px;height:3000px; background-color:#eeeef0;}
.eday-jingxuan{float:left;padding:0 5px;margin:-20px 0px;}
.Cul1{width:180px;height:150px; background-color:#FFFFFF;}
.Cul1 li{margin-left:-30px; line-height:25px; }
.input_btt{border:1px solid #FF6600; background:#FF6600;width:200px;height:10px; border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
.search_bd{margin-left:50px;}
.mojing{margin-left:95px;margin-top:-45px;float:left;}
.preheat{margin-left:-32px;margin-top:5px;float:left;}
.manytou{margin-left:-32px;margin-top:-35px;float:left;}
.manytousucce{margin-left:-32px;margin-top:-35px;float:left;}
.succeecase{margin-left:-32px;margin-top:-35px;float:left;}
.wzfudong{z-index:1;}

#menu3{height:1000px;width:260px;float:left;}
#menu4{height:1000px;width:260px;float:left;}
#menu5{height:1000px;width:260px;float:left}


