
.asssd{width:1140px;height:130px;margin-left:212px;background:#EEEEF0;}
.dhclass{
position:absolute;
left:340px;
top:110px;
border-radius: 5px;
background:#FFFFFF;
width:918px;
height:85px;
margin-right:234px;}
.search_list{
padding: 10px 10px;
overflow: hidden;}
.fl {
float: left;
margin: 0px;
padding: 0px;
color:14;
font-weight:bold;
outline:0none;
}
.search_term {
    margin: 0px;
    margin:0px;
    font-size: 14px;
	overflow: hidden;
}
.choices a {
    margin-right: 15px;
	color:#000000;
}

.btn_blue {
    background: #C50512 none repeat scroll 0% 0%;
    padding: 0px 8px;
    border-radius: 5px;
    margin-right: 15px;
    color: #FFFFF0;
	text-decoration: none;
}
.search {
    line-height: 50px;
}
.search dl dd{float:left;}
.search dl dd a{color:#000000;}
.choices a:hover{color:#FF0000;}

