p{margin: 0;}
.invest-people{width: 100%;height: 100%;min-width: 1150px;background-color: #eeeef0;}
#seatch_norm{position:absolute;top:90px;margin-top:20px;width:1150px;border-radius:5px;background:#fff;}
.search_list{overflow:hidden;padding:10px;}
a{color:#000;}
.choices a{margin-right:15px;}
.btn_blue{margin-right:15px;border-radius:5px;background:#c50512 none repeat scroll 0 0;color:ivory;text-decoration:none;padding: 2px 8px;}
.choices a:hover{color:red;}
.invest-inner{padding-top: 170px;}
.invest-wrapper{width: 1150px;min-height:540px;margin-left: auto;margin-right: auto;}
.invest-content{width: 555px;height: 220px;background-color: #fff;float: left;margin: 10px;}
.invest-people .invest-list{margin: 0;padding: 0;list-style-type: none;}
.invest-list .list-desc .desc-detail{margin: 0;padding: 0;list-style-type: none;}
.invest-people .invest-list .list-desc{width: 280px;}
.invest-people .invest-list .list-desc .detail-title h2{margin:10px 0;}
.invest-people .invest-list .list-desc .detail-classify{position: relative;}
.invest-people .invest-list .list-desc .detail-classify span{display: inline-block;padding: 5px;text-align: center;}
.invest-people .invest-list .list-desc .detail-classify .invest-item:before{content: '';border-right: 1px solid #ccc;position: absolute;top: 0;left: 0;height: 100%;}
.invest-people .invest-list .list-desc .detail-classify .invest-item:after{content: '';border-right: 1px solid #ccc;position: absolute;top: 0;right: 62%;height: 100%;}
.invest-people .invest-list .list-desc .detail-classify .invest-money:after{content: '';border-right: 1px solid #ccc;position: absolute;top: 0;right: 18%;height: 100%;}
.invest-people .invest-list .list-desc .detail-classify .invest-item .title,
.invest-people .invest-list .list-desc .detail-classify .invest-money .title{font-weight: bold;font-size: 14px;color: #000}
.invest-people .invest-list .list-desc .detail-classify .invest-item .value,
.invest-people .invest-list .list-desc .detail-classify .invest-money .value{font-weight: bold;font-size: 16px;color: #000}
.invest-people .invest-list .list-desc .detail-focus .title{font-weight: bold;font-size: 12px;color: #e1604d;}
.invest-people .invest-list .list-desc .detail-content .value{font-weight: bold;font-size: 12px;color: #000;}
.invest-people .invest-list .list-btn{margin-right: 20px;}
.p10{padding: 10px;}
.p5{padding: 5px;}
.w100{width: 100px;}
.w110{width: 110px;}
.m10{margin-top: 10px;}
.m20{margin-left: 20px;}
.lt{float: left;}
.rt{float: right;}
.clearfix{*zoom: 1;}
.clearfix:after{content: '';display: block;clear: both;height: 0;}
#alert {width: 500px;left: 40%;margin-left: -100px;text-align: center;top: 250px;background: #eee;position: fixed;z-index: 10000;}
#mask {background: #000;opacity: 0;position: fixed;z-index: 9999;top: 0;left: 0;}

.pagess{padding:15px 0;text-align:right;width: 1150px;}
.pagess a{display:inline-block;margin:0 5px;padding:2px 6px;border:1px solid #666;border-radius:10px;color:#333;line-height:18px;}
.pagess a.before{border-radius:15px 10px 10px 15px;}
.pagess a.after{border-radius:10px 15px 15px 10px;}
.pages a:hover,.pagess a.active{border:1px solid #c50512;color:#c50512;}
.pagess a.currentpage{border:1px solid #c50512;background:#c50512;color:#fff;}
.bbs_hunt input.bbs_search_btn{width:47px;height:42px;border:none;background:url(../images/search.png) no-repeat 0 0;cursor:pointer;}
.fixed{bottom:60px;left:10px;}
.fixed,.side{position:fixed;}
.side{right:10px;bottom:20px;z-index:2;width:70px;}
.side a{color:#fff;font-size:13px;}
#right_float{width:57px;height:350px;}
#right_float .down{position:absolute;}
#right_float p{position:relative;width:35px;}
#right_float a.erwei{background:url(/static/images/weixin_1.png) no-repeat;}
#right_float p a{display:block;overflow:hidden;margin:5px;margin-left:7px;width:57px;height:57px;}
#right_float .l_r3{position:absolute;top:-20px;right:34px;margin:0;width:0;height:154px;}
#right_float a.callphone{background:url(/static/images/phone.png) no-repeat;}
#right_float .l_r4{position:absolute;top:0;right:30px;margin:0;width:0;background:#5ca9d3;font-family:微软雅黑;}
#right_float .l_r4,#right_float a.fanhui{height:57px;text-align:center;line-height:57px;}
#right_float a.fanhui{position:fixed;z-index:999;display:inline-block;visibility:hidden;width:57px;background-color:#c9caca;color:#fff;text-decoration:none;cursor:pointer;}
#right_float a.fanhui:hover{background-color:#5ca9d3;}
#right_float a.address{background:url(/static/images/address.jpg) no-repeat;}
#right_float .l_r6{line-height:30px;}
#right_float .l_r6,#right_float .l_r7{position:absolute;top:0;right:30px;margin:0;width:0;height:57px;background:#5ca9d3;text-align:center;font-family:微软雅黑;}
#right_float .l_r7{line-height:57px;}
#right_float a.emails{background:url(/static/images/emails.jpg) no-repeat;}
#right_float .l_r5{position:absolute;top:0;right:30px;margin:0;width:0;height:57px;background:#5ca9d3;text-align:center;font-family:微软雅黑;line-height:57px;}