

#Icontainer{width:100%; height:1600px;background-color:#CCCCCC; }

.Cleft2{background-color:#FFFFFF; float:left;width:1115px;height:78px;margin-top:20px;margin-left:180px;}
.Ititle li:hover{color:#e1604d; cursor:pointer;}
.Ititle2 li:hover{color:#e1604d; cursor:pointer;}
.Ititle li{padding:0 30px;}
.Ihr{position:absolute;top:55px;}
.Ihr hr{ border:none; height:2px; border-top:2px solid #eeeef0; width:950px;}
.Ititle2{position:absolute;top:80px;}
.Ititle2 li{padding:0 30px;}
.Ititle,.Ititle2{color:#4a3c70;font-size:12px;}
.Rlogo img{position:absolute;left:920px;top:70px;}
.search_bd{width:1150px;;height:1000px;margin-left:-10px;}
.Cleft3{background-color:#FFFFFF;width:507px;height:250px;float:left;margin:0 10px; margin-top:30px;}

li.investPelPic{position:relative;top:-230px;left:420px;}
li.investPelPic2{margin-top:-150px;margin-left:410px;}
.PelPic img{margin-left:-20px; margin-top:20px; }
.DesPel{margin-top:-180px;margin-left:150px; }
.DesPel li{padding:0 10px;}
.pro-content{margin-top:-120px}

/*∑÷“≥*/
.pages{ padding:50px 0 10px 0; text-align:right;clear:both;}
.pages a{color: #333;display:inline-block;line-height: 18px;padding: 2px 6px;border: 1px solid #666;border-radius: 10px;margin:0 5px;}
.pages a.before{border-radius:15px 10px 10px 15px;}
.pages a.after{border-radius:10px 15px 15px 10px;}
.pages a.active,.pages a:hover{border:1px solid #c50512;color:#c50512;}
.pages a.currentpage{border:1px solid #c50512;color:#fff; background:#c50512;}

/*∑÷“≥Ω· ¯*/
.bbs_hunt input.bbs_search_btn{ width:47px; height:42px; background:url(../images/search.png) no-repeat 0 0; border:none; cursor:pointer;}
