

.content{width:1140px;height:650px;background-color:#eeeef0;margin-left:210px; margin-top:-2px;}
.touziren{margin-top:10px; margin-left:-15px;}
.touziren li{margin:10px 0px;}
.content1{width:750px;height:500px; background-color:#FFFFFF; margin-left:90px;margin-top:50px; position:absolute;z-index:1}
.tabul{float:left; margin-top:40px; margin-left:-22px;}
.tabul li{margin:5px 15px;}
.tabul a{text-decoration:none;color:#000000;}
.tabul a:link,a:visited{ border-bottom-style:solid; border-color:transparent; border-width:2px;}
.tabul a:hover{ border-color:#e1604d;font-weight:bold; cursor:pointer;}
.tabul2 li{margin:0px 15px}
.tabul2 a{text-decoration:none;color:#000000;}
.tabul2 a:link,a:visited{ border-bottom-style:solid; border-color:transparent; border-width:2px;}
.tabul2 a:hover{ border-color:#e1604d;font-weight:bold; cursor:pointer;}
.div_right{width:600px; height:150px; margin-top:250px; margin-left:-10px;}


.content2{width:200px;height:500px;background-color:#FFFFFF;position:absolute;z-index:1;margin-left:870px; margin-top:50px;}
.div_right2{width:200px; height:500px;}
.gzPeople label{margin-left:-100px;}
.gzPeople li{margin-top:50px; margin-left:220px;}
.fsPeople li{margin-top:40px}
.display{display:none}


