
#sub{background-color:#eeeef0;width:1140px;height:700px;margin-left:210px;margin-top:-1px;}
#div2{width:600px;height:500px;background:#FFFFFF;margin-top:50px;position:absolute;z-index:1; margin-left:270px;}
li{list-style:none;}
#ul1{margin:0 auto;font-size:12px;}
#ul2{margin:30px 0;margin-left:-28px;font-size:12px; line-height:25px;}
#ul2 input[type="password"]{width:500px;height:40px;margin:0 auto;}
#ul3{font-size:12px;margin:30px 0; line-height:25px;}
#ul3 hr{height:1px;margin-left:-28px;width:505px;border:none;border-top:1px solid #eeeef0}
input.input_butt{display:inline-block; border:0}
#ul4 label{margin-left:150px;font-size:32px;}
#ul4{font-style:normal;margin:30px 0;margin-left:45px;font-size:18px;}
#ul4 hr{height:1px;margin-left:-70px;width:505px;border:none;border-top:1px solid #eeeef0}
#ul5{font-size:12px;margin:30px 0;margin-left:-28px; line-height:25px;}
#ul5 input[type="text"]{width:500px;height:40px;margin:0 auto;}
a{text-decoration:none; color:#FFFFFF}
#ul3 a{color:#000000;}
#ul11 a{color:#000000;}
#ul3 a:hover{color:#e1640d;}
#ul11 a:hover{color:#e1640d;}
a:hover{color:#e1640d;cursor:pointer;}


