@charset "UTF-8";
/*错误提示*/
.registerform .inputxt{ width:238px; height:15px; line-height:15px; padding:5px; border:1px solid #ccc;}
.Validform_error{background-color: #ffe7e7;}
.Validform_checktip{color: #999;font-size: 12px; height: 20px;line-height: 20px;overflow: hidden; margin-left:10px;}
.Validform_wrong{color: red;padding-left: 20px;white-space: nowrap; background:url(../images/error.png) no-repeat 0 center;}
.Validform_right{color: #71b83d;padding-left: 20px; background:url(../images/right.png) no-repeat 0 center;}
#log-content,#reg_content,#forget_content{font: 12px '微软雅黑','YaHei',tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;color: #333;}
form{margin-bottom: 0;}
input{box-sizing: inherit;}
/*登录*/
#log-content{background-image: url('/static/images/bglogo.jpg');background-repeat: no-repeat;background-position: left top;width: 100%;min-width: 1024px;background-size: 100% 100%;overflow: hidden;}
.log_wrapper{width: 1024px;margin:0 auto;}
.item_title li{margin:5px 0;}
.item_title .size{font-size:32px;margin-left:200px;margin-top:-5px}
.item_title .line{border-top:1px solid #eeeef0;width:505px;height:1px;margin-left:4px;}
.list_item{margin:10px 0 0 50px;overflow: hidden;}
.list_item--center{margin:10px 0 0 10px;overflow: hidden;}
.log_mid{ padding:20px 0;height:500px; background-color:#FFF;width:600px; z-index:999;margin: 10px auto;}
.log_list{margin-left:45px;}
.item_mobile .field input[type="text"]{width:400px;height:40px;}
.item_mobile .field span{position:absolute;}
.item_pwd .field input[type="password"]{width:400px;height:40px;}
.item_pwd .field span{position:absolute;}
.item_code .field input[type="text"]{width:300px;height:40px;}
.item_code .field span{position:absolute;margin-left: 100px;}
.item_code .field img{width:94px;height:50px;}
.item-button a{color:#000000;}
.item-button a:hover{color:#e1640d;}
.item-button .btn_images input[type="submit"]{margin-top:20px; margin-left:38px;width:413px; height:43px;background:url(/static/images/login.jpg);background-repeat:no-repeat;border:0;padding: 0;}
.item-button .btn_desc{font-size:12px;height:40px;width:500px;}
.item-button .btn_desc .pwd{font-size:12px;margin-left:25px;float:left;padding-top:20px;}
.item-button .btn_desc .icon{float:left;padding-left: 250px;}
.item-button .btn_desc .sign{float:right;padding-top:20px;}
/*注册*/
#reg_content{width: 100%;min-width:1024px;background-image: url('/static/images/bglogo.jpg');background-repeat: no-repeat;background-position: left top;background-size: 100% 100%; }
.reg_wrapper{width: 1024px;margin: 0 auto;}
.reg_mid{background-color:#FFF;width:610px; z-index:999;margin: 0 auto;}
.reg_mid ul{padding:5px 0;}
.reg_list{margin-left:45px;}
.reg_list .rlist_item .ritem_title .size{font-size:32px;margin-left:240px;margin-top:15px;}
.reg_list .rlist_item .ritem_title .line{border-top:1px solid #eeeef0;width:505px;height:1px;margin-left:4px;}
.ritem_mobile{margin-left:50px;line-height:20px;}
.rlist_item{overflow: hidden;}
.rlist_item .ritem_mobile .field input[type="text"]{width:400px;height:40px;}
.rlist_item .ritem_mobile .field span{position:absolute;}
.ritem_pwd{margin-left:50px;line-height:20px;}
.rlist_item .ritem_pwd .field input[type="password"]{width:400px;height:40px;}
.rlist_item .ritem_pwd .field span{position:absolute;}
.ritem_repwd{margin-left:50px;line-height:20px;}
.rlist_item .ritem_repwd .field input[type="password"]{width:400px;height:40px;}
.rlist_item .ritem_repwd .field span{position:absolute;}
.rlist_item .ritem_code{margin-left:50px;line-height:20px;}
.rlist_item .ritem_code .field span{position:absolute;margin-left: 102px;}
.ritem_code li{padding:1px 0;}
.rlist_item .ritem_code .field input[type="text"]{width:300px;height:40px;}
.rlist_item .ritem_code .field img{width:94px;height:50px;}
.rlist_item .ritem_smscode{margin-left:50px;line-height:20px;}
.rlist_item .ritem_smscode .field span{position:absolute;margin-left: 102px;}
.rlist_item .ritem_smscode .field input[type="text"]{width:300px;height:40px;}
.rlist_item .ritem_smscode .field input[type="button"]{color:#FFFFFF; background-color:#4a3c70;border:1px solid #4a3c70; border-radius:10px;-webkit-border-radius:3px;z-index:1;width:94px;height:50px;margin-left:5px;}
.rlist_item .ritem_smscode li{padding:1px 0;}

.reg_header{ background:url(../images/reg_bg.png) no-repeat 250px center;}
.reg_btn{ width:178px;}
.yzmcode img{color:#FFFFFF;}
.registerform .need{ color: #b20202;width: 10px;}
#Validform_msg{ display:none;}

.rlist_item .ritem_button{font-size:12px;line-height:25px;margin-top:5px;}
.rlist_item .ritem_button .line{height:1px;margin-left:5px;width:512px;border:none;border-top:1px solid #eeeef0}
.rlist_item .ritem_button .btn_top div{margin-left:160px;}
.rlist_item .ritem_button .btn_images input[type="submit"]{background:url(/static/images/login.jpg);background-repeat:no-repeat;color:white;margin-top:10px; margin-left:50px;width:413px; height:43px;border:0;padding: 0;}
.rlist_item .ritem_button .btn_bottom{width:520px;height:40px;}
.rlist_item .ritem_button .btn_bottom .icon{float:left;padding-left:330px;}
.rlist_item .ritem_button .btn_bottom .log{width:150px;margin-top:14px; float:right;font-size:12px;}
.rlist_item .ritem_button a{color:#000000;}
.rlist_item .ritem_button a:hover{color:#e1640d;cursor:pointer;}
input.login_butt{display:inline-block;border:0}

/*取回密码*/
#forget_content{width: 100%;min-width:1024px;background-image: url('/static/images/bglogo.jpg');background-repeat: no-repeat;background-position: left top;background-size: 100% 100%;}
.forget_wrapper{width:1024px;margin: 0 auto;}
.login_retrieve{ padding:5px 10px; border:1px solid #ddd; border-radius:5px;}
.login_retrieve:hover{ background:#f2f2f2; color:#4c4c4c;}
.forget_mid{ padding:20px 0;height:500px; background-color:#FFF;width:600px; z-index:999;margin: 0px auto;}
.forget_list{margin-top:40px;}
.flist_item{overflow: hidden;margin-left:40px;}
.flist_item .top{margin-top:-20px;}
.flist_item--center{overflow: hidden;margin-top:10px;margin-left:50px;}
.forget_list .flist_item.fitem_title{font-size:32px;margin-left:220px;margin-top:-20px;}
.flist_item .fitem_desc{margin:30px 0;font-size:12px;}
.flist_item .fitem_desc{line-height:45px;}
.flist_item .fitem_desc .line{margin-left:40px;border-top:1px solid #eeeef0; width:505px;height:1px;}
.flist_item .fitem_desc .desc_text label{margin-left:160px;}
.flist_item .fitem_mobile .mobile_title{margin-left:45px;}
.flist_item .fitem_mobile .field input[type="text"]{width:400px;height:40px;margin-left:45px;}
.flist_item .fitem_mobile .field span{position:absolute;}
.flist_item .fitem_code{margin-left:45px;line-height:20px;}
.flist_item .fitem_code .field span{position:absolute;margin-left:110px}
.flist_item .fitem_code .field input[type="text"]{width:300px;height:40px;}
.flist_item .fitem_code .field img{width: 94px;height: 50px;}
.flist_item .fitem_smscode input[type="text"]{width:300px; height:40px;}
.flist_item .fitem_smscode .smscode_title{margin-left:-1px;}
.flist_item .fitem_smscode {margin-left:45px;}
.flist_item .fitem_smscode .field span{position:absolute;margin-left:110px}
.flist_item .fitem_button{margin-top:10px; margin-left:50px;}
.flist_item--center .fitem_button  .button_images input[type="submit"]{width:413px; height:43px;background:url(/static/images/login.jpg);background-repeat:no-repeat;margin-left:35px;margin-top:20px;border:0;padding:0;}
.zhankeng{height: 50px;min-width: 1024px;}