.success_back{background-color: rgb(245,45,55);min-width: 1440px;max-width:1660px;position: relative;}
.content{
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    font-family:Helvetica;
    text-align: center;
    min-height: 532px;
}
.content .sign_succ{
    font-size: 22px;
    color: #FF0033;
}
.content p{padding: 0.2rem}
.content canvas{padding: 0.2rem}
.success_back .content .inv_top{
    margin-top: 50px;
}
.success_back .content .inv_bottom{
    margin-top: 50px;
}