.conext{width:1138px;height:100%;background:#EEEEF0;padding-top:0px;margin-left:208px;overflow:hidden;border:1px solid #EEEEF0;}
.div11 {font-family: "������";font-size: 12px;height:100%;width:788px;background-color:#FFFFFF;margin-left:175px;margin-top:50px;margin-bottom:110px;}
.div_left{width:140px;height:100%;float:left;line-height:40px;background-color:#FFFFFF;}
.div_left ul{margin-top:50px;}
.div_left ul li{list-style-type:none;}
.div_left ul li a{margin-left:18px;font-size:18px;width:100px;}
.blockColor{color:#000000;}
.grayColor{color:#808080;}

.div_left ul li a:hover{border-left:2px solid red;}
.downline{width:75px;height:1px;background:#ccc;margin-left:17px;}
.div_right{margin-left:170px;width:653;height:100%;background-color:#FFFFFF;}
.biaoti{font-size:24px;}
.con_right{padding-top:55px;background:#FFFFFF;}
.con_right p span{font-size:18px;font-weight:bold;}
.con_right p{font-size:16px;}
.display{display:none;padding-top:55px;background:#FFFFFF;}
.display p span{font-size:18px;font-weight:bold;}
.display p{font-size:16px;}
.b_span{display:none;}
.b_span p{font-size:16px;}
.helpcenter li{margin-top:20px;}
.helpcenter li a{font-size:18px;text-decoration:none;color:#000000;}
.helpcenter li a span{display:none;right:460px;position:absolute;}
.flat_left{margin-left:20px;}
.helpcenter li a:hover{color:#FF0000;}
.donline{width:530px;height:1px;background:#ccc;display:none;}
.donline1{width:530px;height:1px;background:#ccc;}
