<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们</title>
<link rel="stylesheet" href="/static/css/index21.css" />
<link  rel="stylesheet"  href="/static/css/catalog.css" />
<link rel="stylesheet" href="/static/css/home1.css" />
<link rel="stylesheet" href="/static/css/home2.css" />
	<script src="/static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">  
		$(function(){
			$('#daohang').find('li').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			});	
			$('#daohang>ul>li a').click(function(){
  				$('#daohang li a').css('color','#808080');
  				$(this).css('color','#000');
			});
				
		});	 		
  </script>
  
<!--引用百度地图API-->
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<script type="text/javascript">
<!--显示和隐藏-->
$(function (){
	mouseout();
});

$(function (){
	Lmouseout();
});


	function Lmouseover()
	{
		$("#img2").show();
		$("#img3").show();
		$("#img4").hide();
		
	}
	
	function Lmouseout()
	{
		$("#img2").hide();
		$("#img3").hide();
		$("#img4").show();				
	}
	
  function mouseover()
  { 	
  	$("#img1").show();
	$("#img5").hide();
	$("#img6").show();
  }
  function mouseout()
  {
  	$("#img1").hide();
	$("#img5").show();
	$("#img6").hide();
  }
	
</script>
</head>
<body>

<!--头部-->
<div id="container">
	<ul style="position:absolute;top:-11px;left:270px;">
			<li>
				<img src="/static/images/mainlogo.png" />
			</li>
		</ul>
		
  		<ul class="ul7">
    		<li>
				<a href="{% url 'index_jf' %}">首页</a>
				<a href="{% url 'about' %}">关于我们</a>
				<a href="{% url 'guide' %}">投资指引</a>
    			<a href="#">葡萄藤社区</a>
			</li>
		</ul>
		
		<ul class="ul8">
    		<li>
     			<label class="lab1">24小时客服电话</label>
				<label class="lab2">400-8800-6799</label>
				{% ifequal user.id None %}
				    <label class="lab3"><a href="{% url 'register' %}">注册</a></label>
				    <label class="lab4"><a href="{% url 'login' %}">登录</a></label>
				{% else %}
				    <ul id="top_r" class="top_name">
                       <div id="logged">
                          <a id="check_log" style="display: none">1</a>
                          <li><a href="#"><img src="{{ user.userinformation.photo_url }}"/></a>{{ user.username }}
                             <ul>
                                <li><a href="{% url 'userinformation' %}">我的资料</a></li>
                                <li><a href="{% url 'logout' %}" onclick="T_Logout()">退出</a></li>
						     </ul>
                          </li>
					   </div>
                    </ul>

                {% endifequal %}
			</li>
		</ul>		
</div>

<!--内容-->
<div class="conext">

<div class="div1">
	     <div class="div_left" id="daohang">
			<ul>
				<li data-pp="company"><a href="javascript:void(0);" class="blockCo">公司简介</a></li>			
				<li><div class="downline"></div></li>
				<li data-pp="chat"><a href="javascript:;" class="grayColor">联系方式</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="clause"><a href="javascript:;" class="grayColor">免费条款</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="partner"><a href="javascript:;" class="grayColor">合作伙伴</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="media"><a href="javascript:;" class="grayColor">媒体报道</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="joinour"><a href="javascript:;" class="grayColor">加入我们</a></li>
			</ul>
		</div>
		
		<div class="div_right">
		   <div id="company" class="con_right">
		         <div >
					 <div class="biaoti">公司简介</div>
					 <p>葡萄藤金服务。。。。。。。。。。。。。。。</p>
					 <p>上海辞达金融。。。。。。。。。。。。。。。。。。。。</p>
					 <div style="height:270px;"></div>
				 </div>
		   </div> 
		   <div id="chat" class="display">
		         <div style="width:600px; height:100%;border:1px solid #FFFFFF;overfllow:Hidden;">
					 <div class="biaoti">联系方式</div>
					 <p>{{name}}</p>
					 <p>公司地址：{{address}}</p>
					 <p>服务热线：{{hotline}}</p>
					 <p>邮政编码：{{zip_code}}</p>
					 <p>邮箱地址：{{email}}</p>
					 <div style="width:500px;height:1px;background:#ccc;"></div>
					 <p><img src="/static/images/subway.png" alt="subway" style="width:30px;height:30px;float:left"/>
					 地铁一号线（莲花路站下）<br/>公交路线986、3645、126、452莲花路站下</p>
					 <div style="width:500px;height:1px;background:#ccc;"></div>
					 <p>地图位置</p>
					  <!--百度地图容器-->
				
                      <div style="width:500px;height:350px;border:#ccc solid 1px;margin-bottom:15px;" id="dituContent" ></div>
					 
				 </div>
		   </div> 
		   <div id="clause" class="display">	   
				<div>
					 <div class="biaoti">免责条款</div>
					 <p><span style="font-size:16px;font-weight:bold;">上海辞达金融服务有限公司</span></p>
					 <p style="width:570px;">{{p1|safe}}</p>
					 <div style="height:270px;"></div>			 
			   </div>
		   </div>  
			<div id="partner" class="display" >
			     <div class="partner">
					  <div class="biaoti">合作伙伴</div>
					  <ul>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
						  <li><a href=""><img src="/static/images/BMW.jpg"/></a></li>
					  </ul>
					  <div style="height:340px;"></div>
			    </div>
		   </div> 
		   <div id="media" class="display">
					 <div class="biaoti">媒体报道</div>
					 <p>葡萄藤金服务。。。。。。。。。。。。。。。</p>
					 <p>上海辞达金融。。。。。。。。。。。。。。。。。。。。</p>
					 <div style="height:270px;"></div>
		   </div>	
		   <div id="joinour" class="display">
					 <div class="biaoti">加入我们</div>
					 <p>葡萄藤金服务。。。。。。。。。。。。。。。</p>
					 <p>上海辞达金融。。。。。。。。。。。。。。。。。。。。</p>
					 <div style="height:270px;"></div>
		   </div>
	    </div>
	</div>
</div>

<!--结尾-->

<div id="footer">
	<ul class="ful">
		<ul class="ful1">
			<li>
				<label>合作伙伴</label>
				<label style="margin-left:150px;">友情链接</label>
				<label style="margin-left:145px;">联系我们</label>
			</li>
		</ul>
		<ul class="ful2">
			<li>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:50px;margin-left:50px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:-2px;margin-left:270px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:380px;margin-top:-2px;margin-left:480px;"></div>
				</label>
			</li>
		</ul>		
		<ul class="ful3">
			<li>
				<a href="#">天使客</a>				
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;天使街</a>	
			</li>
		</ul>
		<ul class="ful4">
			<li>			
				<a href="#">股权众筹</a>	
			</li>
			<li>
				<a href="#">众筹工坊</a>	
			</li>
		</ul>
		<ul class="ful5">
			<li>
				咨询热线:400-000-0000
			</li>
		</ul>
		<ul class="ful6">
			<li>
				<a href="#">&nbsp;京东众筹</a>				
			</li>
			<li>
				<a href="#">&nbsp;大家投</a>	
			</li>
		</ul>
		<ul class="ful7">
			<li>			
				<a href="#">新金融</a>	
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;P2P理财</a>	
			</li>
		</ul>
		<ul class="ful8">
			<li>
				公司邮箱:sys@pttjf.com
			</li>
		</ul>
		<ul class="ful9">
			<li>
				<a href="#">&nbsp;众筹之家</a>				
			</li>
			<li>
				<a href="#"></a>	
			</li>
		</ul>
		<ul class="ful10">
			<li>			
				<a href="#">证券中星</a>	
			</li>
			<li>
				<a href="#">中申网</a>	
			</li>
		</ul>
		<ul class="ful11">
			<li>
				公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室	
			</li>
		</ul>
		<ul class="ful12">
			<li>
				<img src="/static/images/8cm.jpg" width="120px;" height="120px;" />
			</li>
			<li class="fuldy">
				<label>订阅号</label>
			</li>
		</ul>
	</ul>
</div>
<script type="text/javascript">
        //已登陆
        $(document).ready(function () {
            $('#logged li').hover(function () {
                $('ul', this).slideDown(200);
                $(this).children('a:first').addClass("hov");
            }, function () {
                $('ul', this).slideUp(100);
                $(this).children('a:first').removeClass("hov");
            });
        });
        //已登陆结束
        function T_Logout() {
            //alert("logout");
            QC.Login.signOut();
            WB2.logout(function () {
            //alert('mywblogout');
        });
    }
</script>
</body>


</head>

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(121.405708,31.142025);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"我的位置",content:"我的备注",point:"121.408978|31.138749",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>

</html>
