<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册协议</title>
	<link rel="stylesheet" href="/static/css/zcheader.css" />
	<link rel="stylesheet" href="/static/css/agreement.css" />
	<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
</head>
<body>
{% include "zcheader.html" %}
<div id="agreement">
	<div style="height:50px;"></div>
	<div class="agree_mid">
		<div class="agree_mid_content">
			<div class="content_title">
				<span>服务协议</span>
				<div></div>
			</div>
			<div class="content_scroll">
                <span>
					{{agreement|safe}}
                </span>
			</div>
			<div class="content_button">
				<div class="line"></div>
				<div class="button_center">
					<input id="return_to_register" type="button" value="返回"/>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
<script type="text/javascript">
   $(function(){
         $("#return_to_register").click(function(){
           window.location.replace("/register/");
          })
   })
   
   
    //已登陆
        $(document).ready(function () {
            $('#logged li').hover(function () {
                $('ul', this).slideDown(200);
                $(this).children('a:first').addClass("hov");
            }, function () {
                $('ul', this).slideUp(100);
                $(this).children('a:first').removeClass("hov");
            });
        });
        //已登陆结束
        function T_Logout() {
            //alert("logout");
            QC.Login.signOut();
            WB2.logout(function () {
            //alert('mywblogout');
        });
    }
</script>
</body>
</html>
