<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全中心</title>
<!--安全中心-->

    <form name="formPW" class="modifyPWform" action="{% url 'userinfo' %}" method="post" >
    <ul class="pwdpadding">
        <li>
            <label>新手机号</label>
            <label style="margin-left:15px;">{{form.username}}</label>
        </li>
        <li style="float:left; margin-left:20px;">
                <label><input type="button"  class="send-btn" value="发送验证码"/></label>
        </li>
        <li style="float:left">
            <label>短信验证</label>
            <label>{{form.smscode}}</label>
        </li>
        <li style="margin-left:70px; clear:both">
            <label><input type="submit" class="resetpwd-btn" value="确认修改"/></label>
        </li>
    </ul>
        </form>

<!---安全中心 end-->

</html>
