{% load staticfiles %}
{% load settingsvalue %}
    {% if results %}
        {% for result in results.object_list %}
		<ul class="search-mojing">
			<a href="/prodetails/{{result.id}}">
			{% ifequal result.active 1 %}
			<li>
				<img style="position:relative;top:-8px;left:195px;" src="/static/images/flag.png" />
			</li>
            {% else %}
            <li style="position:relative;">
				<img style="position:relative;top:-8px;left:195px;" src="/static/images/rflag.png" />
			</li>
			{% endifequal %}
			<li style="	margin-top:-69px;">
                <img src="{{ result.photo_url }}" width="255px;"/>				
			</li>
			<li>
				<ul class="Cul2">
					<li style="padding-top:5px;height:20px">
						<b style="color:#000000">{{result.name}}</b>
					</li>
					<li style="padding-top:5px;">
						<label style="color:#000000;font-size:12px">{{result.introduction}}</label>
					</li>
					<li class="index-percent"><div style="width:100%;border:1px solid #868686;border-radius:10px;margin-left:-0.5em">
						<em style="width:{{result.invest_num|add_with:result.finish}}%;border-radius:10px;background:url(/static/images/jindutiao.png) no-repeat;"></em></div></li>
					<li style="float:left">
						<label style="color:#000000;font-size:12px">融资份额</label><span style="color:#000000;;font-size:12px">{{result.invest_num}}份</span>
					</li>
					<li style="float:left;margin-left:30px;">
						<label style="color:#000000;font-size:12px">已完成</label><span style="color:#000000;;font-size:12px">{% widthratio result.finish result.invest_num 100 %}%</span>
					</li>
					<li style="clear:both">
						<div style="border-top:1px solid #eeeef0; width:200px;height:1px;"></div>
					</li>
					<li>
						<label style="float:left;padding-top: 5px;"><img src="/static/images/people.png" /></label>
						{% if result.publish.userinformation.nickname  %}
						<label style="float:left;color:#000000;font-size:12px;margin-left:5px;">{{result.publish.userinformation.nickname }}</label>
						{% else %}
						<label style="float:left;color:#000000;font-size:12px;margin-left:5px;">{{result.publish|phone_cut}}</label>
						{% endif %}
						<label style="float:left;margin-left:30px;padding-top: 5px;"><img src="/static/images/tag.png" /></label>
						<label style="float:left;color:#000000;font-size:12px;margin-left:5px;">{{result.get_category_display}}</label>
					</li>
				</ul>
			</li>
			</a>
		</ul>
     	{% endfor %}

    {% else %}

        <a>无符合查询条件的纪录</a>
    {% endif %}
	<div class="pagesg">
        <a href="javascript:void(0)" class="before"
           onclick="takepage(1)">《</a>
        {% if result.has_previous %}
            <a href="javascript:void(0)"
               onclick="takepage({{ result.previous_page_number }})">〈</a>
        {% endif %}
        {% for page in page_set %}
            <a href="javascript:void(0)" {% ifequal page result.number %}
               class="currentpage" {% endifequal %}
               onclick="takepage({{ page }})">{{ page }} </a>
        {% endfor %}
        {% if result.has_next %}
            <a href="javascript:void(0)"
               onclick="takepage({{ result.next_page_number }})">〉</a>
        {% endif %}
        <a href="javascript:void(0)" class="after"
           onclick="takepage({{ last_page }})">》</a>
    </div>