<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="tp_page" content="5123.0">
    <title>忘记密码</title>
    <link rel="stylesheet" href="/static/css/forgetpwd_m.css">
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/sendtime_forgetpw.js"></script>
	<script src="/static/js/yz_m.js" charset="gbk" type="text/javascript"></script>
</head>
<body>
<div id="container">
	<form class="registerform" action="{% url 'forgetpw' %}" method="post">
    <div class="touchweb-com_header">
        <h1>忘记密码</h1>
    </div>
    <div class="touchweb-page_fpwd">
        <div class="fpwd_box">
            <div class="form_item">
                <label class="txt_phone">手机号</label>
                <div class="input_box">
					{{ form.username }}
                </div>
            </div>
            <div class="form_item">
                <label class="txt_pwd">验证码</label>
                <div class="input_box1">
					{{ form.vcode }}
					<img style="width: 70px" onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
						 src="{% url 'verifycode' %}"/>
                </div>
            </div>
			<div class="form_item">
				<label class="txt_pwd">短信验证码</label>
				<div class="input_box1">
					{{ form.smscode }}
					<input type="button" id="rulesubmit" style="color:#FFFFFF; background-color:#4a3c70;border:1px solid #4a3c70; border-radius:3px;-webkit-border-radius:3px;z-index:1;width:70px;height:28px;" value="发送验证码" />
				</div>
			</div>
        </div>
        <div class="fwp_btn">
            <input type="submit" class="btn" value="登录">
        </div>
    </div>
		</form>
</div>
<script type="text/javascript">

	$(function(){
		{% if form.smscode.errors %}
			{% for error in form.smscode.errors %}
				alert('{{ error }}');
				{% endfor %}
				{% endif %}

				var demo = $(".registerform").Validform({
					tiptype: 3,
					label: ".label",
					showAllError: true,
					datatype: {
						"zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
					},
					ajaxPost: false,
					callback:function(data){
						str = "success";
					}
				});

				demo.tipmsg.w["zh1-6"] = "请输入1到6个字符！";

				demo.addRule([
					{
						ele: "#id_username",
						datatype: "m"
					},
					{
						ele: "#id_vcode",
						datatype: "n4"
					},
					{
						ele: "#id_smscode",
						datatype: "n4"
					}
				]);
			})
</script>
</body>
</html>
