<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>投资指引</title>
<link rel="stylesheet" href="/static/css/index21.css" />
<link  rel="stylesheet"  href="/static/css/zhongchou.css" />
	<script src="/static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">  
		$(function(){
			$('#daohang').find('li').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			});
			
			$('#bzzx_content').find('li').click(function(){
			
			 $(this).find('#donline').show();
				var this_div = $(this).find('div');
				if(this_div.is(':hidden')){
					this_div.show();
				}else{
					this_div.hide();
				}
			});

			$('#daohang>ul>li a').click(function(){
  				$('#daohang li a').css('color','#808080');
  				$(this).css('color','#000');
			});
		});
	
		
    </script>  
	<script type=text/javascript>
	var LastLeftID = "";
	function menuFix() {
	 var obj = document.getElementById("nav").getElementsByTagName("li");
	
	 for (var i=0; i<obj.length; i++) {
	  obj[i].onmouseover=function() {
	   this.className+=(this.className.length>0? " ": "") + "sfhover";
	  }
	  obj[i].onMouseDown=function() {
	   this.className+=(this.className.length>0? " ": "") + "sfhover";
	  }
	  obj[i].onMouseUp=function() {
	   this.className+=(this.className.length>0? " ": "") + "sfhover";
	  }
	  obj[i].onmouseout=function() {
	   this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"), "");
	  }
	 }
	}
	function DoMenu(emid)
	{
	 var obj = document.getElementById(emid); 
	 obj.className = (obj.className.toLowerCase() == "expanded"?"collapsed":"expanded");
	 if((LastLeftID!="")&&(emid!=LastLeftID)) //关闭上一个Menu
	 {
	  document.getElementById(LastLeftID).className = "collapsed";
	 }
	 LastLeftID = emid;
	}
	function GetMenuID()
	{
	 var MenuID="";
	 var _paramStr = new String(window.location.href);
	 var _sharpPos = _paramStr.indexOf("#");
	 
	 if (_sharpPos >= 0 && _sharpPos < _paramStr.length - 1)
	 {
	  _paramStr = _paramStr.substring(_sharpPos + 1, _paramStr.length);
	 }
	 else
	 {
	  _paramStr = "";
	 }
	 
	 if (_paramStr.length > 0)
	 {
	  var _paramArr = _paramStr.split("&");
	  if (_paramArr.length>0)
	  {
	   var _paramKeyVal = _paramArr[0].split("=");
	   if (_paramKeyVal.length>0)
	   {
		MenuID = _paramKeyVal[1];
	   }
	  }
	  /*
	  if (_paramArr.length>0)
	  {
	   var _arr = new Array(_paramArr.length);
	  }
	  
	  //取所有#后面的，菜单只需用到Menu
	  //for (var i = 0; i < _paramArr.length; i++)
	  {
	   var _paramKeyVal = _paramArr[i].split('=');
	   
	   if (_paramKeyVal.length>0)
	   {
		_arr[_paramKeyVal[0]] = _paramKeyVal[1];
	   }  
	  }
	  */
	 }
	 
	 if(MenuID!="")
	 {
	  DoMenu(MenuID)
	 }
	}
	GetMenuID(); //*这两个function的顺序要注意一下，不然在Firefox里GetMenuID()不起效果
	menuFix();
	</script>
	
</head>

<body>

<div id="Fdiv1">
	<div id="Fdiv2">
		<ul id="Fmain">	
		<ul class="Hul1">
		<ul>
			<li style="margin-top:18px;">
				<img src="/static/images/Conpanylogo.png" width="95px;" height="72px" /></li>
		</ul>
		</ul>
		<ul class="Hul2">
		<ul>
			<li>
				<a href="{% url 'index_zc' %}">首页</a>
			</li>
 		</ul>
		<ul>
    		<li>
				<a href="{% url 'investor' %}">投资人风采</a>
			</li>
  		</ul>
  		<ul>
    		<li>
				<a href="#"项目风采></a>
			</li>
  		</ul>
  		<ul>
			<li>
				<a href="#">项目发起</a>
			</li>
  		</ul>
  		<ul>
    		<li>
				<a href="#">葡萄藤社区</a>
			</li>
		</ul>
		</ul>
		<ul class="Hul3">
  		<ul>
    		<li>
      			<input type="text" placeholder="找项目,领头人" />
    		</li>
  		</ul>
  		<ul type="disc">
    		<li>
				<a href="{% url 'register' %}">注册</a>
			</li>
  		</ul>
  		<ul type="disc">
    		<li>
				<a href="{% url 'login' %}">登录</a>
			</li>
  		</ul>
		</ul>
		</ul>
	</div>
</div>

<!--内容-->
<div class="conext">
<div class="div11">
		<div class="div_left" id="daohang">
			<ul>		   
				<li data-pp="gyzc"> <a href="javascript:void(0);" class="blockColor">关于众筹</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="tzlc"><a href="javascript:;" class="grayColor">投资流程</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="aqbz"><a href="javascript:;" class="grayColor">安全保障</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="ptxy"><a href="javascript:;" class="grayColor">平台协议</a></li>
				<li><div class="downline"></div></li>
				<li data-pp="bzzx"><a href="javascript:;" class="grayColor">帮助中心</a></li>
			</ul>
		</div>
		<div class="div_right">
		   <div id="gyzc" class="con_right">   
				 <div class="biaoti">关于众筹</div>
				 <p><span>关于众筹</span></p> 
				 <p>众筹,译自国外。。。。。。。。。。。。。。。</p>
				 <p><span>股权众筹</span></p>
				 <p>股权众筹是指，公司出让。。。。。。。。。。。。。。。</p>
				 <p><span>P2P</span></p>
				 <p>P2P是peer-to-peer或。。。。。。。。。。。。。。。</p>
				 <div style="height:78px;"></div>
		   </div> 
		   <div id="aqbz" class="display">
		         
					 <div class="biaoti">安全保障</div>
					   <div style="margin-left:100px;margin-top:230px;">
					 	<div style="width:400px;height:1px;background:#ccc;"></div>
					 	<div style="width:1px;height:440px;background:#ccc;position:absolute;top:225px;left:850px;"></div>
				 	</div>
					
					<div style="width:180px;height:220px;position: absolute;top:230px;left:650px;">
						<a href="#"><img src="/static/images/xmfk180-180.png" width="180" height="180"/>
						<span style="margin-left:55px;line-height:35px;font-size:18px;">项目风控</span></a></div>
					
					<div style="width:180px;height:100px;position: absolute;top:230px;left:870px;">
						<a href="#"><img src="/static/images/zjbz180-180.png" width="180" height="180"/>
						<span style="margin-left:55px;line-height:35px;font-size:18px;">资金保障</span></a></div>
					
					<div style="width:180px;height:100px;position: absolute;top:460px;left:650px;">
						<a href="#"><img src="/static/images/cwjg180-180.png" width="180" height="180"/>
						<span style="margin-left:35px;line-height:35px;font-size:18px;">财务监管系统</span></a></div>
					
					<div style="width:180px;height:100px;position: absolute;top:460px;left:870px;">
						<a href="#"><img src="/static/images/jsbz180-180.png" width="180" height="180"/>
						<span style="margin-left:55px;line-height:35px;font-size:18px;">技术保障</span></a></div>
					 <div style="height:240px;"></div>
		   </div> 
		   	 <div id="ptxy" class="display" >	   
					
				<div class="biaoti">平台协议</div>
					<div class="ptxy_div">
						 <ul>
						
						 <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr3.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;融资居间协议
							<span><a href="#"><img src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="#"><img src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr1.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;有限合伙协议
							<span><a href="#"><img src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="#"><img src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr4.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;投资协议
							<span><a href="#"><img src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="#"><img src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr2.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;股权转让协议
							<span><a href="#"><img src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="#"><img src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						 </ul>
				 </div>
				 <div style="height:50px;"></div>
			 </div>
			<div id="tzlc" class="display" >	   
				<div>
					 <div class="biaoti">投资流程</div>
					 <p><span>上海辞达金融服务有限公司</span></p>
					 <p>投资网络贷款。。。。。。。。。。。。。。。</p>
					 <p>凡依据葡萄糖金融。。。。。。。。。。。。。。</p>	
					 <div style="height:200px;"></div>			 
			   </div>
			</div>  
			 <div id="bzzx" class="bzzx" >
			
					  <div style="margin-left:40px;font-size:24px;">帮助中心</div>		
					    <div id="PARENT">
							<ul id="nav111">
								<li><a href="#Menu=ChildMenu1"  onclick="DoMenu('ChildMenu1')">如何进行项目预约?<span>▼</span></a>
									 <ul id="ChildMenu1" class="collapsed">
										 <li>
										  <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 <p style="margin-left:-40px;">依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金融凡依据葡萄糖金融凡依凡依依据葡萄糖金                                          融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金融凡依据葡萄糖依凡依
										</p>
										 <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 </li>
									 </ul>
									 
								</li>
								<li><a href="#Menu=ChildMenu2" onclick="DoMenu('ChildMenu2')">什么是保证金?<span>▼</span></a>
									 <ul id="ChildMenu2" class="collapsed">
										 <li>
										  <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 <p style="margin-left:-40px;" >依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄凡依据葡萄糖金融凡依凡依依据葡萄糖金                                          融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金融凡依据葡萄糖金融凡依凡依
										</p>
										 <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 </li>
									 </ul>
									
								</li>
								<li><a href="#Menu=ChildMenu3" onclick="DoMenu('ChildMenu3')">保证金的使用规?<span>▼</span></a>
									 <ul id="ChildMenu3" class="collapsed">
										 <li>
										  <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 <p style="margin-left:-40px;" >依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖依据葡萄糖金融凡依凡依依据葡萄糖金                                                融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金融凡依据葡萄糖金融凡依凡依
										    </p>
											 <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 </li>
									 </ul>
									 
								</li>
								<li><a href="#Menu=ChildMenu4" onclick="DoMenu('ChildMenu4')">领投人的回报是什?<span>▼</span></a>
									 <ul id="ChildMenu4" class="collapsed">
										 <li>
										  <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 <p style="margin-left:-40px;" >依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金据葡萄糖金融凡依凡依依据葡萄糖金                                           融凡依据 葡萄 糖金融凡依据葡萄糖金融凡依据葡萄依据葡萄糖金融凡依据葡萄糖金融凡依凡依
										</p>
										  <div style="margin-left:-40px;" class="donline" id="donline"></div>
										 </li>
									 </ul>
								</li>
								
							</ul>
					 </div>		
					<div style="height:355px;"></div>	  	     		     
			   </div> 
		   <div id="right_media" class="display" style="margin-top:60px;background:#FFFFFF;">2222222222222</div> 	
		   <div id="right_joinour" class="display" style="margin-top:60px;background:#FFFFFF;">6666666666666</div>
	    </div>
	</div>
</div>

<!--结尾-->

<div id="footer">
		<ul class="ful1">
			<li>
				<label>合作伙伴</label>
				<label style="margin-left:150px;">友情链接</label>
				<label style="margin-left:145px;">联系我们</label>
			</li>
		</ul>
		<ul class="ful2">
			<li>
				<label class="flab1">
					<hr />
				</label>
				<label class="flab2">
					<hr />
				</label>
				<label class="flab3">
					<hr />
				</label>
			</li>
		</ul>		
		<ul class="ful3">
			<li>
				<a href="#">天使客</a>				
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;天使街</a>	
			</li>
		</ul>
		<ul class="ful4">
			<li>			
				<a href="#">股权众筹</a>	
			</li>
			<li>
				<a href="#">众筹工坊</a>	
			</li>
		</ul>
		<ul class="ful5">
			<li>
				<a href="#">咨询热线:400-000-0000</a>	
			</li>
		</ul>
		<ul class="ful6">
			<li>
				<a href="#">&nbsp;京东众筹</a>				
			</li>
			<li>
				<a href="#">&nbsp;大家投</a>	
			</li>
		</ul>
		<ul class="ful7">
			<li>			
				<a href="#">新金融</a>	
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;P2P理财</a>	
			</li>
		</ul>
		<ul class="ful8">
			<li>
				<a href="#">公司邮箱:sys@pttjf.com</a>	
			</li>
		</ul>
		<ul class="ful9">
			<li>
				<a href="#">&nbsp;众筹之家</a>				
			</li>
			<li>
				<a href="#"></a>	
			</li>
		</ul>
		<ul class="ful10">
			<li>			
				<a href="#">证券中星</a>	
			</li>
			<li>
				<a href="#">中申网</a>	
			</li>
		</ul>
		<ul class="ful11">
			<li>
				<a href="#">公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室</a>	
			</li>
		</ul>
		<ul class="ful12">
			<li>
				<img src="/static/images/8cm.jpg" width="120px;" height="120px;" />
			</li>
		</ul>
</div>
</body>
</html>
