<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>投资指引</title>
<link  rel="stylesheet"  href="/static/css/zhongchou.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript">  
		$(function(){
			$('#daohang a:eq(0)').addClass('clickTag');
			$('#daohang').find('a').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			});
			
			/*$('#bzzx_content').find('li').click(function(){
			 $(this).find('#donline').show();
				var this_div = $(this).find('div');
				if(this_div.is(':hidden')){
					this_div.show();
				}else{
					this_div.hide();
				}
			});*/

			$('#daohang').children('a').bind('focus',function(){
				$('#daohang a').css('color','#808080');
				$(this).css('color','#000');
				$(this).addClass('clickTag').siblings().removeClass('clickTag');
			})
		});
    </script>
	<script type="text/javascript">
		/*返回顶部jquery*/
		(function($){
			jQuery(window).scroll(function () {
				if (jQuery(this).scrollTop() > 100) {
					jQuery(".fanhui").css("right", "10px");
					jQuery(".fanhui").css("visibility","visible");
				} else {
					jQuery(".fanhui").css("right", "-80px");
					jQuery(".fanhui").css("visibility","hidden");
				}
			})
			jQuery(".top").click(function () {
				jQuery("html", "body").animate({scrollTop: 0}, 500);
				return false;
			})
		})(jQuery);
	</script>
	<script type="text/javascript">
		$(function(){
			$("#nav111 a").click(function(){
				var oLi=$(this).next();
				if(oLi.css("display") == "none"){
					$(this).siblings("li").css("display","none");
					oLi.css('display','block');
					$(this).find("img").attr("src","/static/images/arrows-bottom.png").end().siblings().find("img").attr("src","/static/images/arrows-top.png");
				}else{
					$(this).siblings("li").css("display","none");
					oLi.css('display','none');
					$(this).find("img").attr("src","/static/images/arrows-top.png").end().siblings().find("img").attr("src","/static/images/arrows-top.png");
				}
			})
		})
	</script>
	<script type="text/javascript">
		$(function(){
			$('.down').mouseover(function(){
				$('.down').attr('title','下载');
			})
			$('.down').mouseout(function(){
				$('.down').attr('title','');
			})
			$('.search').mouseover(function(){
				$('.search').attr('title','浏览');
			})
			$('.search').mouseout(function(){
				$('.search').attr('title','');
			})
		})
	</script>
</head>
<body>
<!--头部-->
{% include "zcheader.html" %}

<!--内容-->
<div class="guide">
<div style="height:50px;"></div>
	<!----左边浮动图片------->
	<a href="/userinfo/"><div class="fixed"><img src="/static/images/sqtzr.png"/></div></a>
<div class="guide-content">
		<div class="guide-content-left" id="daohang">
			<a data-pp="gyzc" href="javascript:void(0);" class="blockColor"><label class="left_label">关于众投</label></a>
			<div class="downline"></div>
			<a data-pp="tzlc" href="javascript:;" class="grayColor"><label class="left_label">投资流程</label></a>
			<div class="downline"></div>
			<a data-pp="fxts" href="javascript:;" class="grayColor"><label class="left_label">风险提示</label></a>
			<div class="downline"></div>
			<a data-pp="aqbz" href="javascript:;" class="grayColor"><label class="left_label">安全保障</label></a>
			<div class="downline"></div>
			<a data-pp="ptxy" href="javascript:;" class="grayColor"><label class="left_label">平台协议</label></a>
			<div class="downline"></div>
			<a data-pp="bzzx" href="javascript:;" class="grayColor"><label class="left_label">帮助中心</label></a>
		</div>
		<div class="guide-content-right">
		   <div id="gyzc" class="con_right">   
				 <div class="biaoti">关于众投</div>
				 <p style="width:570px;"><span>{{description|safe}}</span></p>
				 <div style="height:78px;"></div>
		   </div> 
		   <div id="aqbz" class="display">
					 <div class="biaoti">安全保障</div>
					   <div style="margin-left:100px;margin-top:230px;">
					 	<div style="width:400px;height:1px;background:#ccc;position:absolute;margin-top:-15px;"></div>
					 	<div style="width:1px;height:440px;background:#ccc;position:absolute;margin-top:-220px;margin-left:200px;"></div>
				 	</div>
					<div id="color" class="change_color">
					<div style="width:180px;height:220px;position: absolute;margin-top:-210px;margin-left:120px;">
						<a href="/safety/1"><img src="/static/images/xmfk180-180.png" width="150" height="150"/>
						<span style="margin-left: 40px;line-height: 45px;font-size:18px;color:#000;font-weight:bold">项目风控</span></a></div>
					
					<div style="width:180px;height:100px;position: absolute;margin-top:-210px;margin-left:330px;">
						<img src="/static/images/zjbz180-180.png" width="150" height="150"/>
						<span style="margin-left: 40px;line-height: 45px;font-size:18px;color:#000;font-weight:bold">资金保障</span></div>
					
					<div style="width:180px;height:100px;position: absolute;margin-top:-2px;margin-left:120px;">
						<img src="/static/images/cwjg180-180.png" width="150" height="150"/>
						<span style="margin-left:20px;line-height:45px;font-size:18px;color:#000;font-weight:bold">财务监管系统</span></div>
					
					<div style="width:180px;height:100px;position: absolute;margin-top:-2px;margin-left:330px;">
						<a href="/safety/4"><img src="/static/images/jsbz180-180.png" width="150" height="150"/>
						<span style="margin-left:45px;line-height:45px;font-size:18px;color:#000;font-weight:bold">技术保障</span></a></div>
					 <div style="height:240px;"></div>
					 </div>
		   </div> 
		   	 <div id="ptxy" class="display" >	   
					
				<div class="biaoti">平台协议</div>
					<div class="ptxy_div">
						 <ul>
						
						 <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr1.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;有限合伙协议
							<span><a href="/static/download/有限合伙协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/1"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr2.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;股权转让协议
							<span><a href="/static/download/股权转让协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/2"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr3.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;融资居间协议
							<span><a href="/static/download/融资居间协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/3"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
						  <li>
							<a href="#" class="ptxy_a"><img src="/static/images/zyxhhr4.png" class="ptxy_img"/></a>
							<p>&nbsp;&nbsp;投资协议
							<span><a href="/static/download/投资协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/4"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
							</p>
							<div></div>
						 </li>
							 <li>
								 <a href="#" class="ptxy_a"><img src="/static/images/zyxhhr5.png" class="ptxy_img"/></a>
								 <p>&nbsp;&nbsp;认购意向书协议
							<span><a href="/static/download/认购意向书协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/5"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
								 </p>
								 <div></div>
							 </li>
							 <li>
								 <a href="#" class="ptxy_a"><img src="/static/images/zyxhhr6.png" class="ptxy_img"/></a>
								 <p>&nbsp;&nbsp;注册协议
							<span><a href="/static/download/注册协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/6"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
								 </p>
								 <div></div>
							 </li>
							 <li>
								 <a href="#" class="ptxy_a"><img src="/static/images/zyxhhr7.png" class="ptxy_img"/></a>
								 <p>&nbsp;&nbsp;服务协议
							<span><a href="/static/download/服务协议.doc"><img class="down" src="/static/images/xiazai38-32.png"/></a>&nbsp;&nbsp;
							<a href="/intermediary/7"><img class="search" src="/static/images/liulan38-32.png"/></a></span>
								 </p>
								 <div></div>
							 </li>
						 </ul>
				 </div>
				 <div style="height:50px;"></div>
			 </div>
			<div id="tzlc" class="display" >	   
				<div>
					 <div class="biaoti">投资流程</div>
					<!-- <p><span>上海辞达金融服务有限公司</span></p>
					 <p>投资网络贷款。。。。。。。。。。。。。。。</p>
					 <p>凡依据葡萄糖金融。。。。。。。。。。。。。。</p>	
					 <div style="height:200px;"></div>	-->
					<div style="margin-top:20px;">
                     	<img src="/static/images/flowimg.jpg" width="570px" height="1140px;" />
                        <div style="height:20px;"></div>
					</div>
			   </div>
			</div>
			<div id="fxts" class="display" >
				<div>
					<div class="biaoti">风险提示</div>
					<p><span>{{p1|safe}}</span></p>
				</div>
			</div>
			<div id="bzzx" class="bzzx" >
					  <div style="margin-left:40px;font-size:24px;">帮助中心</div>
					    <div style="margin-left:40px;" id="PARENT">
							<ul id="nav111">
								<a href="javascript:void(0)">什么是众投？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									 <ul>
										 <li>
										  <div class="donline" id="donline"></div>
											<p ><span>众投，通俗地讲，就是对于前景看好的项目（企业），汇聚大众的力量一起来投资，众人拾柴火焰高，在成就企业发展的同时，也成就了投资人。</span></p>
										 <div  class="donline" id="donline"></div>
										 </li>
									 </ul>
								</li>
								<a href="javascript:void(0)">什么是新三板？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									<ul>
										<li>
											<div class="donline" id="donline"></div>
											<p>
												<span>“新三板”市场原指中关村科技园区非上市股份有限公司进入代办股份系统进行转让试点，因为挂牌企业均为高科技企业而不同于原转让系统内的退市企业及原STAQ、NET系统挂牌公司，故形象地称为“新三板”。新三板的意义主要是针对公司的，会给该企业／公司带来很大的好处。目前，新三板不再局限于中关村科技园区非上市股份有限公司，也不局限于天津滨海、武汉东湖以及上海张江等试点地的非上市股份有限公司，而是全国性的非上市股份有限公司股权交易平台，主要针对的是中小微型企业。10月8日消息，证监会全面支持新三板市场发展的文件即将公布，将包括分层等制度安排。
												截止2015年12月25日挂牌企业家数已达5016家。</span>

											</p>
											<div class="donline" id="donline"></div>
										</li>
									</ul>
								</li>
								<a href="javascript:void(0)">如何成为认证投资人?<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									 <ul>
										 <li>
										  <div class="donline" id="donline"></div>
										 <p>
											 <span>第一步:注册，葡萄藤众投网站注册<br>
											 第二步:提交申请，在"我的账户"中点击“认证投资人”,填写完整资料并提交<br>
											 第三步:审核，葡萄藤众投对“认证投资人”申请进行审核,通过审核即可成为认证投资人,即可在众投项目中预约投资
											 </span>
										 </p>
										 <div class="donline" id="donline"></div>
										 </li>
									 </ul>
									
								</li>
								<a href="javascript:void(0)">如何参与项目众投？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									 <ul>
										 <li>
										  <div class="donline" id="donline"></div>
										 	<p>
											 <span>第一步：注册并认证成为认证投资人<br>
											 第二步:选定待投项目，提交预约投资<br>
											 第三步:待葡萄藤众投审核<br>
											 第四步:签署投资确认书<br>
											 第五步:待项目完成众投募集<br>
											 第六步:签署合伙协议，成立投资主体企业（有限合伙）<br>
											 第七步:将投资款打入投资主体企业账户<br>
											 第八步:由管理合伙人代表投资主体与项目方企业签署投资协议，办理相关工商法律事宜<br>
											 第九步:进入投后管理阶段，平台定期披露被投企业信息<br>
											 第十步:投资退出，按协议分配收益
												 </span>
										 </p>
											 <div class="donline" id="donline"></div>
										 </li>
									 </ul>
									 
								</li>
								<a href="javascript:void(0)">投资人何时开始打款？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									 <ul>
										 <li>
										  <div class="donline" id="donline"></div>
										 <p><span>目前我们平台的规则为认筹资金到达100%投资人就可以开始打款，邮件或短信也会进行通知。假设A项目募集资金100万元，那么认筹到达120万元的时候可以开始打款，而打款实际到账资金接近100万元的时候，我们以官网或者邮件的形式通知投资人暂停打款，并且会关闭认筹渠道。当然，我们平台和融资方有权选择投资人以及拒绝一些投机或者目的不明的投资人。</span>
										</p>
										  <div class="donline" id="donline"></div>
										 </li>
									 </ul>
								</li>
								<a href="javascript:void(0)">投资人如何打款？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									<ul>
										<li>
											<div class="donline" id="donline"></div>
											<p><span>投资人在签署完有限合伙协议就可以打款了，具体收款账号信息会在有限合伙协议里注明。
												投资人打款完毕后，冷静期为一天，逾期将不接受申请退款
												</span>
											</p>
											<div class="donline" id="donline"></div>
										</li>
									</ul>
								</li>
								<a href="javascript:void(0)">项目融资不足与超募解决方案是什么？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									<ul>
										<li>
											<div class="donline" id="donline"></div>
											<p>
												<span>1.若在约定的挂牌时间内，没有认购到项目总体融资额度的100%，则视项目融资失败。投资人可以和融资方协商，就是否可以按现有的投资和相应的股权比例，签订投资协议。<br>
												2.若在约定的挂牌时间内，预约额度超过了项目的融资额度，融资方有权选择对自己发展更有利的投资人，创业者也可以和投资人进行商定其它解决方案，如约定统一时间打款，投资人先到先得；或者在投资人接受的条件下，可以有意向的投资人都按照比例少投资一定的金额，而保证所有有意向的投资人都来参与到项目的投资。</span>
											</p>
											<div class="donline" id="donline"></div>
										</li>
									</ul>
								</li>
								<a href="javascript:void(0)">为什么需要设立有限合伙企业？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									<ul>
										<li>
											<div class="donline" id="donline"></div>
											<p>
												<span>
												设立有限合伙企业主要从决策程序和税务两方面考虑。<br>
												第一，有限责任公司股东会决议需要每个股东签字，决策程序繁琐。有限合伙企业由管理合伙人负责，有限合伙人不参与日常管理。在股权融资里，管理合伙人执行重大决议签字，决策还是由所有投资人共同投票决定。<br>
												第二，有限合伙企业转让股权所得无需纳税，分配收益时由投资人缴纳个人所得税（分档）。有限责任公司是严格意义的“公司”，凡是涉及公司的税种都需缴纳：营业税、增值税、企业所得税等。
												值得注意的是，无论是有限合伙企业还是有限责任公司，分红、股权转让收益都需缴纳20%的个人所得税。
													</span>
											</p>
											<div class="donline" id="donline"></div>
										</li>
									</ul>
								</li>
								<a href="javascript:void(0)">投资人投资后如何退出？<img src="/static/images/arrows-top.png"></a>
								<li style="display: none">
									<ul>
										<li>
											<div class="donline" id="donline"></div>
											<p>
												<span>由于有限合伙企业的投资人是由多名个人投资人组成，在投资一定时间之后，如何退出以及何时退出，管理合伙人代表合伙企业决定是否退出，具有最终决定权。</span>
											</p>
											<div class="donline" id="donline"></div>
										</li>
									</ul>
								</li>
							</ul>
					 </div>		
					<div style="height:355px;"></div>	  	     		     
			   </div>
	    </div>
	</div>


	<!----右边悬浮框----------->
	<div class="side">
		<div id="right_float">
			<div class="down">
				<p class="yidong">
					<a class="erwei" href="####"></a>
					<a class="l_r3 l_rw3" href="####" style="width: 0px;"><img src="/static/images/wxcode.png"></a>
				</p>
				<p class="yidong">
					<a class="callphone" href="####"></a>
					<a class="l_r4 l_rw2" href="####" style="width: 0px;">电话客服:400-709-1818</a>
				</p>
				<p class="yidong">
					<a class="emails" href="####"></a>
					<a class="l_r5 l_rw5" href="####" style="width: 0px;">公司邮箱:service@ddbid.com</a>
				</p>
				<p class="yidong">
					<a class="address" href="####"></a>
					<a class="l_r6 l_rw6" href="####" style="width: 0px;">公司地址:上海市沪闵路7866号莲花广场<br>2号楼908室</a>
				</p>
				<p class="yidong">
					<a class="fanhui" href="#">返回顶部</a>
				</p>
			</div>
		</div>
	</div>
</div>

<!--结尾-->
{% include "footer.html" %}
<script type="text/javascript">
        //已登陆
        $(document).ready(function () {
            $('#logged li').hover(function () {
                $('ul', this).slideDown(200);
                $(this).children('a:first').addClass("hov");
            }, function () {
                $('ul', this).slideUp(100);
                $(this).children('a:first').removeClass("hov");
            });
        });
        //已登陆结束
        function T_Logout() {
            //alert("logout");
            QC.Login.signOut();
            WB2.logout(function () {
            //alert('mywblogout');
        });
    }
		$(document).ready(function(){
			$('#right_float .yidong').hover(function(){

				$(this).find('.l_rw3').stop().animate({
					'width':'135px'
				},400);
			},function(){
				$(this).find('.l_rw3').stop().animate({
					'width':'0px'
				},400);
			});
		});
		$(document).ready(function(){
			$('#right_float .yidong').hover(function(){
				$(this).find('.l_rw2').stop().animate({
					'width':'170px'
				},400);
			},function(){
				$(this).find('.l_rw2').stop().animate({
					'width':'0px'
				},400);
			});
		});
		$(document).ready(function(){
			$('#right_float .yidong').hover(function(){
				$(this).find('.l_rw4').stop().animate({
					'width':'70px'
				},400);
			},function(){
				$(this).find('.l_rw4').stop().animate({
					'width':'0px'
				},400);
			});
		});
		$(document).ready(function(){
			$('#right_float .yidong').hover(function(){
				$(this).find('.l_rw5').stop().animate({
					'width':'200px'
				},400);
			},function(){
				$(this).find('.l_rw5').stop().animate({
					'width':'0px'
				},400);
			});
		});
		$(document).ready(function(){
			$('#right_float .yidong').hover(function(){
				$(this).find('.l_rw6').stop().animate({
					'width':'250px'
				},400);
			},function(){
				$(this).find('.l_rw6').stop().animate({
					'width':'0px'
				},400);
			});
		});
</script>
</body>
</html>
