{% extends 'base_userinfo.html' %}
{% block content %}
		<div id="basicmessage">
         <form class="userinfoform" action="{% url 'userinfo' %}" method="post"  enctype="multipart/form-data" >
             {% csrf_token %}
			<ul style="float:left" class="Userul">
				<li>
					<label style="font-size:30px;margin-left:-15px;">基本信息</label>
				</li>
				<li>
					<img src="{{ user.userinformation.photo_url }}" style="margin-left:-20px; margin-top:20px;"/>
				</li>
				<li style="margin-top:12px; margin-left:-10px;">
                	<a class="button-shangchuan" href="javascript:;" style="background: url('/static/images/uploadimg.png') no-repeat;border: 0 none;width:105px;height: 35px;">
						<input type="file" name="file" />
                    </a>
				</li>
				<li style=" margin-top:12px; margin-left:-10px;">
					{% ifequal user.userinformation.invest_class 2 %}
                      <img src="/static/images/yerztouzi.png">
					{% endifequal %}
					{% ifequal user.userinformation.invest_class 3 %}
					<img src="/static/images/touzi.png" />
					{% endifequal %}

				</li>
			</ul>
			 <table class="Userul1" style="float:left;">
				 <tr class="user_nick">
					 <td><label>用户名</label></td>
					 <td><label>
						 {{ form.nickname}}
					 </label></td>
				 </tr>

				 <tr class="user_name">
					 <td>
						 <label>关注行业</label>
					 </td>
					 <td>{{ form.cate }}</td>
				 </tr>
				 <tr>
					 <td>
						 <label>性别</label>
					 </td>
					 <td>{{ form.gender }}</td>
				 </tr>
				 <tr class="user_birth">
					 <td>
						 <label>生日</label>
					 </td>
					 <td>{{ form.birthday }}</td>
				 </tr>
				 <tr class="user_email">
					 <td>
						 <label>邮箱地址</label>
					 </td>
					 <td>{{ form.email }}</td>
				 </tr>
				 <tr class="user_city">
					 <td>
						 <label>居住城市</label>
					 </td>
					 <td>{{ form.city }}</td>
				 </tr>
				 <tr class="user_addre">
					 <td><label>居住地址</label></td>
					 <td>{{ form.address }}</td>
				 </tr>
				 <tr class="user_edu">
					 <td><label>学历</label></td>
					 <td>{{ form.education }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>月收入</label></td>
					 <td>{{ form.monthly_income }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>婚姻状况</label></td>
					 <td>{{form.marriage}}</td>
				 </tr>
				 <tr class="user_wx">
					 <td><label>微信</label></td>
					 <td>{{form.wechat_num}}</td>
				 </tr>
				 <tr class="user_qq">
					 <td><label>QQ</label></td>
					 <td>{{form.qq_num}}</td>
				 </tr>
				 <tr class="user_wb">
					 <td><label>微博</label></td>
					 <td>{{form.weibo_num}}</td>
				 </tr>
				 <tr>
					 <td>
					 </td>
					 <td align="left">
						 <label>
							 <input id="save_success"  type="submit" value=" " style="background: url('/static/images/saveimg.png') no-repeat;border: 0 none;width:105px;height: 35px;"/>
						 </label>
					 </td>
				 </tr>
			 </table>
         </form>
		</div>
{% endblock %}
