<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/> 
<title>投资者</title>

<link rel="stylesheet" href="/static/css/investor.css" />
<link rel="stylesheet" href="/static/css/zcheader.css" />
<link rel="stylesheet" href="/static/css/investor_search.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css" />
<script src="/static/js/jquery-1.8.3.min.js"></script>

</head>

<body>
<!--头部-->
{% include "zcheader.html" %}

<!--内容-->
<div id="Icontainer">

	<div class="Cleft2">
		 <div id="seatch_norm" class="dhclass">
			 <div id="search_list" class="search_list">
				<div class="serch_term">
				  <label class="choices" id="choices">
				  <a class="f1">投资人类别:</a>
				  <a class="btn_blue" href="#" choiceid="1"> 不限</a>
				  <a href="javascript:void(0)"   choiceid="2">认证资深投资人</a>
				  <a href="javascript:void(0)"   choiceid="3">认证投资人</a>
				  </label>
				</div>
			</div>

		    <div id="search_list" class=" search_list">
				<div class="serch_term">
				  <label class="choices" id="choices">
				  <a class="f1">行业类别:</a>
				  <a class="btn_blue" href="javascript:void(0)" choiceid="4"> 不限</a>
				  <a href="javascript:void(0)"   choiceid="5">金融在线</a>
				  <a href="javascript:void(0)"   choiceid="6">电子商务</a>
				  <a href="javascript:void(0)" choiceid="7"> 医疗</a>
				  <a href="javascript:void(0)"   choiceid="8">互联网</a>
				  <a href="javascript:void(0)"   choiceid="9">社交</a>
				  <a href="javascript:void(0)" choiceid="10"> 生活服务</a>
				  </label>
				</div>
		    </div>
		 </div>
		<ul class="Rlogo">
			<li>
				<img src="/static/images/Rlogo.png" width="400px;" height="200px;" />
			</li>
		</ul>
		<div class="search_bd" id="result_form">
		</div>			
	</div>
</div>
{% include "footer.html" %}
<script type="text/javascript">    	
	    //已登陆
        $(document).ready(function () {
            $('#logged li').hover(function () {
                $('ul', this).slideDown(200);
                $(this).children('a:first').addClass("hov");
            }, function () {
                $('ul', this).slideUp(100);
                $(this).children('a:first').removeClass("hov");
            });
        });
        //已登陆结束
        function T_Logout() {
            //alert("logout");
            QC.Login.signOut();
            WB2.logout(function () {
            //alert('mywblogout');
        });
    }
</script>
<script type="text/javascript">
   $(function(){
       checkparam(1,[1,4]);
	   $('#seatch_norm').find('a').on("click",function(){
	   $(this).addClass("btn_blue").siblings("a").removeClass("btn_blue");
        var a = getElementsByClassName('btn_blue','choiceid');
        //alert(a);
        checkparam(1,a);
       });
   });
   function getElementsByClassName(n,m) {
        var el = [],
                _el = document.getElementsByTagName('*');
        for (var i = 0; i < _el.length; i++) {
            if (_el[i].className == n) {
                el[el.length] = _el[i].getAttribute(m);
            }
        }
        return el;
    }
   function takepage(n) {
        checkparam(n);
   }

   function checkparam(page,a) {
        $.get("{% url 'search_investor' %}",
                {
                    page: page,
                    search_word: a,
                },
                function (data) {
                    //alert(a);
                    $('#result_form').html(data.content_html);
                }
        );
    }

</script>
</body>
</html>
