<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>项目详情</title>
    <link rel="stylesheet" href="/static/css/zcheader.css"/>
    <link rel="stylesheet" href="/static/css/touzi.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
        var input_invest_before = $("#input_invest").val();
        $('#btn_sub').click(function(){
            var check=$("input[type='checkbox']").is(':checked');
            var input_invest = $("#input_invest").val();
            if(input_invest<input_invest_before)
            {
                alert('投资金额必须大于'+input_invest_before+',请重新输入!');
            }
            else{
                if(check==true){
                        $.post("/invested/",
                        {project:{{project.id}},
                         inv:input_invest,
                         per:{{project.invest_amount}}
                        },
                        function(data)
                        { if(data.t=='1'){alert("预约投资成功!");location.reload();
                        };});
                }else{
                    alert('你还没有同意葡萄藤众筹的投资须知以及条款呢');
                }
            }
        })
        })
    </script>
</head>

<body>

{% include "zcheader.html" %}
<div class="invest-container">
    <div style="height: 40px;"></div>
    <div class="invest-wrapper">
        <div class="invest-content">
            <dl class="content-detail clearfix">
                <dd class="detail-logo lt"><img src="{{project.logo}}" width="220" height="132"></dd>
                <dd class="detail-desc lt">
                    <dl class="desc-box">
                        <dd class="box-title">{{project.name}}</dd>
                        <dd class="box-count">
                            <span class="title">本轮融资份额</span><span class="count">{{project.invest_num}}</span><span class="title">每份</span><span class="count">{{project.invest_amount}}</span>
                        </dd>
                        <dd class="box-order">
                            <span style="width: 6px;height:6px;border-radius: 60px;background:#f06e57;"></span>
                            <span>预约份额必须大于{{project.leader_inv_min}}万股</span>
                        </dd>
                        <dd class="box-invest">投资份额</dd>
                        <dd class="box-money">
                            {% ifequal invest_type 1 %}
                            <label for="input_invest"></label>
                            <input type="text" id="input_invest" value="{{project.leader_inv_min}}">
                            <span class="unit">万股</span>
                            {% else %}
                            <label for="input_invest"></label>
                            <input type="text" id="input_invest" value="{{project.inv_min}}">
                            <span class="unit">万股</span>
                            {% endifequal %}
                        </dd>
                        <dd class="box-agree">
                            <input type="checkbox" value=""><a href="javascript:void(0)">同意葡萄藤众投的投资须知以及条款</a>
                        </dd>
                        <dd class="box-btn">
                            <input id="btn_sub" type="button" value="确认预约">
                        </dd>
                    </dl>
                </dd>
            </dl>
        </div>
    </div>
</div>

{% include "footer.html" %}
</body>
</html>
