<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>项目详情</title>
    <link rel="stylesheet" href="/static/css/zcheader.css"/>
    <link rel="stylesheet" href="/static/css/touzi.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
        var input_invest_before = $("#input_invest").val();
        $('#btn_sub').click(function(){
            var check=$("input[type='checkbox']").is(':checked');
            var input_invest = $("#input_invest").val();
            if(input_invest<input_invest_before)
            {
                alert('投资金额必须大于'+input_invest_before+',请重新输入!');
            }
            else{
                if(check==true){
                    alert('投资成功')
                }else{
                    alert('你还没有同意葡萄藤众筹的投资须知以及条款呢');
                }
            }
        })
        })
    </script>
</head>

<body>

{% include "zcheader.html" %}
<div class="conext">
    <div class="div11">
        <div class="div_left" id="daohang">
            <div class="pic">
                <a href="#" class="blockColor"><img src="{{project.logo}}" width="220" height="132"></a>
            </div>
        </div>
        <div class="div_right">
            <div style="height:22px;"></div>
            <div class="biaoti">{{project.name}}</div>
            <div class="online"></div>
            <div>
                <p>
                    <span style="font-size:18px;font-weight:bold;">本轮融资</span>
                    <span style="font-size:22px;font-weight:bold;">{{project.amount}}</span>
                    <span style="font-size:14px;">万元</span>
                <p>
                <div class="donline1">
                    <div class="lmoney">
                        <div style="float:left;width: 6px;height:6px;border-radius: 60px;background:#f06e57;margin-top: 10px;margin-left:8px;"></div>
                        {% ifequal invest_type 1 %}
                        <label style="float:left;margin-top: 5px;margin-left:10px">领投金额必须大于{{project.leader_inv_min}}万元</label>
                        {% else %}
                        <label style="float:left;margin-top: 5px;margin-left:10px">领投金额必须大于{{project.leader_inv_min}}万元</label>
                        {% endifequal %}
                    </div>
                <div style="clear: both"></div>
                    <div class="smoney">
                        <div style="float:left;width: 6px;height:6px;border-radius: 60px;background:#f06e57;margin-top: -10px;margin-left:8px;"></div>
                         {% ifequal invest_type 2 %}
                        <label style="float:left;margin-top: -15px;margin-left:25px">启动金额必须大于{{project.inv_min}}万元</label>
                        {% else %}
                        <label style="float:left;margin-top: -15px;margin-left:25px">启动金额必须大于{{project.inv_min}}万元</label>
                        {% endifequal %}
                    </div>
                </div>
            </div>
            <div>
                <div style="font-size:18px;font-weight:bold;margin-top:25px;margin-bottom:5px;margin-left:14px;">投资金额</div>
                {% ifequal invest_type 1 %}
                <div style="margin-left:18px;"><input type="text" class="border1" id="input_invest" value="{{project.leader_inv_min}}"/><span style="position: relative;left:-50px;">万元</span></div>
                {% else %}
                <div style="margin-left:18px;"><input type="text" class="border1" id="input_invest" value="{{project.inv_min}}"/><span style="position: relative;left:-50px;">万元</span></div>
                {% endifequal %}
                <div style="margin-top:10px;margin-bottom:15px;margin-left:15px;">
                    <input type="checkbox" value=""><a href="javascript:void(0)" style="color:#FF6600;font-size:14px;">同意葡萄藤众筹的投资须知以及条款</a>
                </div>
                <div style="margin-left:20px;"><input id="btn_sub" type="button" value="确认投资" class="entr"/></div>
                <div style="height:15px;"></div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
