{% extends 'base_userinfo.html' %}
{% block content %}
<div id="invitefriend" >
		<div class="ProCenter3">
			<ul>
				<li style="position: relative;top: 35px;">
					<label style="font-size:30px;">邀请好友</label>
				</li>
				<li style="margin-top:55px;">

					<label>扫描二维码或复制链接分享给好友注册,有意想不到的惊喜!</label>
				</li>
				<li style="margin-top:10px;" id="qrcodeTable">

				</li>
				<li style="margin-top:-240px;margin-left:300px;">
					<label><div style="width:1px;height:222px; border-right:1px solid #eeeef0;"></div></label>
				</li>
				<ul class="giftpadding" style="margin-top:-240px;margin-left:300px;">
					{% if extend %}

					<li>
						您的邀请码是:{{extend.extend_code}}
						<label><textarea cols="40" rows="2" id="biao1">http://www.pttjf.com/register/?code={{extend.extend_code}}</textarea></label>
					</li>
					<li>
						<input onclick="copyUrl()" type="button" style="background: url('/static/images/on-clickcopy.jpg') no-repeat;border: 0 none;width:105px;height: 35px;" value=" " />
					</li>
					{% else %}
					<li>
						<input onclick="generate()" type="button"  value="获取推广邀请码 " />
					</li>
					{%  endif  %}
				</ul>
			</ul>
		</div>
	</div>
<script>
    	 function copyUrl()
	  {
		  var Url=document.getElementById("biao1");
		  Url.select(); // 选择对象
		  document.execCommand("Copy"); // 执行浏览器复制命令
		  alert("已复制好，可贴粘。");
	  }
	  function generate()
	  {
	  $.post("{% url 'generate' %}",{},function(){ window.location.reload();});

	  }
	  jQuery('#qrcodeTable').qrcode({
		render	: "canvas",
		width   :  256,
		height  :  256,
		text	: "http://www.pttjf.com/register/?code={{extend.extend_code}}"
	});
</script>
{% endblock %}