{% load settingsvalue %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/css/zcheader.css" />
<link rel="stylesheet" href="/static/css/prodetails.css">
<title>项目详情</title>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script>
	$(function(){
		$("#pro-daohang>ul>li>a").click(function(){
			$("#pro-daohang li a").css("color","#808080");
			$(this).css("color","#000");	
		});
	
		$('#pro-daohang').find('li').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
		});
	});
	$('#focus').click(function(){
		if($(this).val()=="关注"){
			$("#focus").attr("value","取消关注");
		}else{
			$("#focus").attr("value","关注");
		}
	})
	function attion_pr(){
	    {% if user.id %}
        $.post("/add_attion/"+{{result.id}}+"/",{},function(data){if(data){document.getElementById('click').innerText=data.attion;};});
        {% else %}
         alert('请先登录!');
        {% endif %}
    }
</script>
</head>

<body>
{% include "zcheader.html" %}
<div class="pro-content">
	<div class="pro-contains">

		<div class="pro-details">
    		<ul>
            	<li style="float:left;margin-top:20px;margin-left:-20px">
                	<img src="{{result.logo}}" />
                </li>
                <li style="float:left">
                	<ul>
                		<li class="pro-title">
                			<label class="mongjing">{{result.name}}</label>
                    		<label class="mongjiangimg"><img src="/static/images/redgou.png" /></label>
                    		<label class="zczhong" id="click">{{result.click.all|length}}</label>
                		</li>
                        <li class="pro-writing">
                       		<label>{{result.introduction}}</label>
                        </li>
                	</ul>
                </li>
                <li style="float:left;margin-left:180px">
                	<input class="btn-focus" id="focus" type="button" onclick="attion_pr()" value="关注"/><br>
                	<input class="btn-remind" type="button" value="提醒" /><br>
                    <a href="/invest_pr/{{result.id}}1/"><input class="btn-lingtou" type="button" value="我要领投"/></a><br>
                    <a href="/invest_pr/{{result.id}}2/"><input class="btn-gentou" type="button" value="我要跟投" /></a>
                </li>
				<li style="clear:both"></li>
                <li style="margin-top:30px;margin-left:-40px;">               
                    <label><div style="border-top:1px solid #eeeef0;width:800px;height:1px;"></div></label>
                </li>
                <li> 
                <div id="pro-daohang">
                               
                	<ul class="pro-list">
                		<li data-pp="projianjie" style="float:left">
                			<a href="javascript:void(0);" style="color:#000;">项目简介</a>
						</li>
                		<li style="float:left">
                			<div style="border-right:1px solid #eeeef0;width:1px;height:40px;margin-top:-10px;"></div>
                		</li>
                       	<li data-pp="temjianjie" style="float:left">
                			<a href="javascript:void(0);" style="color:#808080;">团队介绍</a>
						</li>
                		<li style="float:left">
                			<div style="border-right:1px solid #eeeef0;width:1px;height:40px;margin-top:-10px;"></div>
                		</li>
                    	<li data-pp="touzi" style="float:left">
                			<a href="javascript:void(0);" style="color:#808080;">投资预算</a>
						</li>
                		<li style="float:left">
                			<div style="border-right:1px solid #eeeef0;width:1px;height:40px;margin-top:-10px;"></div>
                		</li>
                    	<li data-pp="shangye" style="float:left">
                			<a href="javascript:void(0);" style="color:#808080;">商业企划书</a>
						</li>
                		<li style="float:left">
                			<div style="border-right:1px solid #eeeef0;width:1px;height:40px;margin-top:-10px;"></div>
                		</li>                  
                    	<li data-pp="qita" style="float:left">
                			<a href="javascript:void(0);" style="color:#808080;">其他资料</a>
						</li>
                		<li style="float:left">
                			<div style="border-right:1px solid #eeeef0;width:1px;height:40px;margin-top:-10px;"></div>
                		</li>
                  		<li data-pp="protaolun" style="float:left">
                			<a href="javascript:void(0);" style="color:#808080;">项目讨论</a>
						</li>               	                   
					</ul>				
                </div>
                </li>
                <li style="margin-top:60px;">
                	<label><div style="border-top:1px solid #eeeef0;width:700px;height:1px;"></div></label> 
                </li>
                <div class="div-right">
                	<div id="projianjie">
                    	<ul style="projianjie-text">
                        	<li>
                            {{result.description}}
                            </li>
                        </ul>
                    </div>
                
                
                <div id="temjianjie" class="display">
                	<div class="temjianjie-size">
                		<ul>
                    		<li>
                        		{{result.team}}
                        	</li>
                    	</ul>
                    </div>
                </div>
                
                <div id="touzi" class="display">
                	<div class="touzi-size">
                		<ul>
                    		<li>

                        	</li>
                    	</ul>
                    </div>
                </div>
                
	<div id="shangye" class="display">
                	<div class="shangye-size">
                		<ul>
                    		<li>
                        		{{result.business_plan_url}}
                        	</li>
                    	</ul>
                    </div>
                </div>		<div id="qita" class="display">
                	<div class="qita-size">
                		<ul>
                    		<li style="position:absolute">
								<input type="radio" name="zl">营业执照
                        	</li>
							<li style="clear:both"></li>
							<li style="float: left;margin-top:20px">
								<input type="radio" name="zl">尽职调查报告
							</li>
							<li style="float: left;margin-left:450px;margin-top:20px">
								<a href="#">下载</a>
								<a href="#">预览</a>
							</li>
							<li style="clear:both"></li>
							<li>
								<input type="radio" name="zl">资产证明
							</li>
							<li>
								<input type="radio" name="zl">信用凭证
							</li>
							<li>
								<input type="radio" name="zl">担保方资料
							</li>
                    	</ul>
                    </div>
                </div>
					<div id="protaolun" class="display">
                	<div class="protaolun-size">
                		<ul>
							<li style="position: absolute">
								<label>1</label>回复
								<label>2015-12-06</label>
							</li>
                    		<li style="float:left;margin-top:20px;margin-left:-600px">
								<img src="/static/upload/default.png" width="40" height="40">
                        	</li>
							<li style="float:left;margin-top:20px;margin-left:-500px">
								<label>都市人</label><label>于2小时发布</label><label>回复</label>
							</li>
							<li style="float:left;margin-top:40px;margin-left:-500px">
								<label>产品开发的Timeline</label>
							</li>
							<li style="clear:both"></li>
							<li>
								<div style="background:#EEEEF0;width:740px;height:1px;"></div>
							</li>
							<li style="margin-top:20px;margin-left:-15px;">
								<div>
									<textarea placeholder="内容" id="content" style="border:1px solid #66757f;width:760px;height:150px;"></textarea>
								</div>
							</li>
							<li>
								<input type="button" class="reply" value="回复">
							</li>
                    	</ul>
                    </div>
                </div>
               </div>
            	</ul>    		
		</div>
    	<div class="pro-people">
			<ul>
            	<li style="float:left;margin-left:-20px;">

                	<img src="{{result.publish.userinformation.photo_url}}" width="87px;" height="80px;" />
                </li>
                <li style="float:left;margin-left:20px;margin-top:5px;">
                	<label>{{result.publish}}</label>
                </li>
                <li style="float:left;margin-top:40px;margin-left:-55px;">
                	 <img src="/static/images/touzi.png" />
                </li>                
            </ul>
            <ul class="pro-touziren" style="clear:both">
            	<li>
                	<label><div style="border-top:1px solid #eeeef0;width:230px;height:1px;"></div></label>    
                </li>
                <li>
                	<label>项目发起时间 : </label>
                    <label>{{result.add_date|date:"Y - n - j" }}</label>
                </li>                
                <li>
    				<label><div style="border-top:1px solid #eeeef0;width:230px;height:1px;"></div></label>
                </li>
                  <li>
    				<label>融资计划 : </label>
                    <label>{{result.amount}}</label>
                </li>
                <li>
    				<label><div style="border-top:1px solid #eeeef0;width:230px;height:1px"></div></label>
                </li>
                <li style="float:left;margin-left:-40px;">
                	<ul>                                        
                        <li>
                            <label>出让股份</label>
                        </li>
                        <li style="margin-top:-10px;">
                            <label>{{result.transfer_equity}}%</label>
                        </li>
                	</ul>
                </li>
				<li style="float:left;margin-left:5px;margin-top:5px;">
					<label><div style="border-right:1px solid #eeeef0;width:1px;height:40px;"></div></label>
				</li>
              	<li style="float:left;margin-left:-30px;">
                	<ul>
                         <li>
                            <label>投资人数</label>
                        </li>
                         <li style="margin-top:-10px;">
                            <label>{{ result.investor.all|add_filter:result.leader.all }}</label>
                        </li>
					</ul>
                </li>
				<li style="float:left;margin-left:5px;margin-top:5px;">
					<label><div style="border-right:1px solid #eeeef0;width:1px;height:40px;"></div></label>
				</li>
                <li style="float:left;margin-top:-50px;margin-left:120px;">
                  	<ul> 
                         <li>
                            <label>最低投资额</label>
                        </li>               
                         <li style="margin-top:-10px;">
                            <label>{{result.inv_min}}</label>
                        </li>
                        
                     </ul>
                </li>
                <li style="clear:both"></li>
                 <li>
                	<label><div style="border-top:1px solid #eeeef0;width:230px;height:1px"></div></label>
				</li>
                 <li>
    				<label>预约金额</label>
                    <label>{{result.finish}}</label>
                    <label>完成率{% widthratio result.finish result.amount 100 %}%</label>
                </li>
               	<li>
					<div class="input_btt"></div>
				</li>
                <li style="margin-top:10px;">
    				<label><div style="border-top:1px solid #eeeef0;width:230px;height:1px"></div></label>
                </li>
                 <li>
					<label>
						{% for i in result.investor.all %}
						        {{i}}
						{% endfor %}
					</label>
				</li>
            </ul>
    	</div>
     </div>
</div>
<!--底部-->
{% include "footer.html" %}
</body>
</html>
