{% load settingsvalue %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/css/zcheader.css" />
<link rel="stylesheet" href="/static/css/prodetails.css">
<title>项目详情</title>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/previewer.js"></script>
<script>
	$(function(){
		$("#pro-daohang>ul>li>a").click(function(){
			$("#pro-daohang li a").css("color","#808080");
			$(this).css("color","#000");	
		});
	
		$('#pro-daohang').find('li').click(function(){
		      {% if user.id %}
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			  {% else %}
			  	alert('请先登录!');
			  {% endif %}

		});
	});
    $('.btn-remind').click(function(){
    	{% if user.id %}

    	{% else %}
    	 alert('请先登录!');
    	{% endif %}
    })
 $(function(){
    {% if flag %}
    $("#focus").attr("checked",'true');
    {% endif %}

 })
$(function() {
	// 在页面添加 mask
	var mask = function() {
			$('<div id="mask" style="width: ' + $(window).width() + 'px; '
			+ 'height: ' + $(window).height() + 'px;"></div>').appendTo("body");};

	$(window).on("resize", function() {
		if($("#mask").length) {
				$("#mask").css({
						width: $(window).width(),
						height: $(window).height(),
						opacity: 0});
				}
	});

	{% if before_price %}
		var  html= '<div id="alert"  style="hidden"><p>价格为{{before_price}}的已经停止销售！</p>'+'<br><br>'+
		'<input type="button" id="ok" style="width:80px;height:28px;background:url(/static/images/reset.png);background-repeat:no-repeat;border:0 none;margin-left:133px;display:block;float:left;margin-top:-15px;"/></div>';
	   $(html).appendTo("body");
	{% endif %}


// 只有点击 alert 中的按钮 mask 才会被移除

// 只有点击 alert 中的按钮 mask 才会被移除
	$("#ok").click(function() {
		$("#mask, #alert").remove();
	});

});

   function remaid(){alert('请先登录!');}
   function booking(){alert("该项目已众筹完成，感谢你的关注。欢迎选择其它项目！");}

	function attion_pr(){
	    {% if user.id %}
			$('#focus').attr("disabled",false);
	         if($("#focus").is(':checked')){
			     $.post("/add_attion/"+{{result.id}}+"/",
				{},
				function(data)
				{ if(data.comment){alert(data.comment);
				if(data.comment=="关注成功"){}};});}else{
					$.post("/cancel_attion/"+{{result.id}}+"/",
					{},
					function(data)
					{});
				}
		{% else %}
		$('#focus').attr("checked",false).prop('checked',false);
		//$('#focus').attr("disabled",true);
		alert('请先登录');
		{% endif %}
    }
    $(document).ready(function () {
        $(".btn-remind").click(function () {
        	{% if user.id %}
            $("#warning_li").toggle();
            {% else %}
			alert('请先登录');
			{% endif %}
        });

        $(".rmbutton").click(function (e) {
			var type = $(this).attr("rtype");
				$.post("{% url 'do_reminder' %}",
						{

						},
						function (data) {
							alert(data);
						}
				);
        });
    });
</script>
<script>
		$(document).ready(function(){
			$("#reply").click(function(){
				$.post("{% url 'project_reply' result.id %}",
				{
				   content: $('#content').val(),
				   log_code: $('#log_code').val(),
				},
				function (data) {

				   if(data.success){$('#forum').html(data.content_html);}else{alert(data);}
				});
			});

		});
	</script>
<script>
		$(function(){
			$('.down').mouseover(function(){
				$('.down').attr('title','下载');
			})
			$('.down').mouseout(function(){
				$('.down').attr('title','');
			})
			$('.search').mouseover(function(){
				$('.search').attr('title','浏览');
			})
			$('.search').mouseout(function(){
				$('.search').attr('title','');
			})
		})
	</script>
</head>
<body>
{% include "zcheader.html" %}
<div class="pro-detail clearfix">
	<div class="pro-detail-wrapper clearfix">
		<div class="detail-lt-content bgcolor lt w750">
			<div class="lt-content-top clearfix">
				<ul class="detail-lt-list">
					<li class="lt-list-logo lt"><img src="{{result.logo}}" width="256" height="152"></li>
					<li class="lt-list-desc lt">
						<span class="title w240">{{result.name}}</span>
						{% ifequal result.status 0 %}
						<span class="w100"><img src="/static/images/yrzhong.png" width="78" height="25"></span>
						{% endifequal %}
						{% ifequal result.status 1 %}
						<span class="w100"><img src="/static/images/ztzhong.png" width="78" height="25"></span>
						{% endifequal %}
						{% ifequal result.status 2 %}
						<span class="w100"><img src="/static/images/zcfinish.png" width="78" height="25"></span>
						{% endifequal %}
						<span class="w350">{{result.introduction}}</span>
					</li>
					<li class="lt-list-btn rt">
						<div class="btn-focus">
							<input type="checkbox" id="focus" value="" checked="checked" onclick="attion_pr()">
							<label for="focus"></label>
						</div>
						<div class="btn-order">
							{% if user.id %}
							{% ifequal result.status 2 %}
							<a href="javascript:void(0)" onclick="booking()"><input type="button" value=""></a>
							{% else %}
							<a href="/invest_pr/{{result.id}}1/"><input type="button" value=""></a>
							{% endifequal %}
							{% else %}
							<a href="javascript:void(0)"><input type="button" value="" onclick="remaid()"></a>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
			<div id="pro-daohang" class="lt-content-center clearfix">
				<ul class="nav clearfix">
					<li class="nav-li-intro lt w124" data-pp="company-self"><a style="color:#000;" href="javascript:void(0);">公司简介</a></li>
					<li class="nav-li-self lt w124" data-pp="team-introduce"><a style="color:#808080;" href="javascript:void(0);">团队介绍</a></li>
					<li class="nav-li-item lt w124" data-pp="item-good"><a style="color:#808080;" href="javascript:void(0);">项目亮点</a></li>
					<li class="nav-li-develop lt w124" data-pp="develop-plan"><a style="color:#808080;" href="javascript:void(0);">发展计划书</a></li>
					<li class="nav-li-list lt w124" data-pp="invest-people"><a style="color:#808080;" href="javascript:void(0);">投资人列表</a></li>
					<li class="nav-li-talk lt w124" data-pp="item-talk"><a style="color:#808080;" href="javascript:void(0);">项目讨论</a></li>
				</ul>
			</div>
			<div class="lt-content-bottom">
				<div id="company-self" class="content-bottom-wrapper spacing">
						{{result.description|safe}}
				</div>
				<div id="team-introduce" class="content-bottom-wrapper spacing display">
						{{result.team|safe}}
				</div>
				<div id="item-good" class="content-bottom-wrapper spacing display">
						{{result.patent|safe}}
				</div>
				<div id="develop-plan" class="content-bottom-wrapper browse spacing display">
					<span>发展计划书</span>
					<span class="browse-icon"><a href="{{result.business_plan_url}}"><img alt="浏览" class="search"
																								src="/static/images/liulan38-32.png"
																								width="20" height="15"/></a></span>
				</div>
				<div id="invest-people" class="content-bottom-wrapper display clearfix">
					{% if invest_detail %}
					{% for i in invest_detail %}
					<div class="list-user-info">
						<div class="info-logo"><img src="{{i.invest_user.userinformation.photo_url}}" width="120" height="120"></div>
						<div class="info-desc">
							{% if i.invest_user.userinformation.nickname %}
							<span class="name">{{i.invest_user.userinformation.nickname}}</span>
							{% else %}
							<span class="name">{{i.invest_user.username|phone_cut}}</span>
							{% endif %}
							<span class="invest">预约投资{{i.invest_num}}股</span></div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
				<div id="item-talk" class="content-bottom-wrapper display">
						{% if project_forum %}
						{% for i in project_forum %}
					<div class="talk-user-list clearfix">
						<dl class="list-content">
							<dt class="list-logo lt"><img src="{{i.forum_user.userinformation.photo_url}}"></dt>
							<dd class="list-desc w620 lt">
								<div class="nowrap p5">
									{% if i.forum_user.userinformation.nickname %}
									<a href="javascript:void(0)">{{i.forum_user.userinformation.nickname}}</a>
									{% else %}
									<a href="javascript:void(0)">{{ i.forum_user.username|phone_cut }}</a>
									{% endif %}
									<span>{{ i.time_created|date:"Y-m-j  H:i:s"  }}</span><a class="reply-hover" href="#textarea">回复</a>
								</div>
								<div class="nowrap p5">{{i.forum_content}}</div>
							</dd>
						</dl>
					</div>
						{% endfor %}
						{% endif %}

					<div class="reply_publish reply_box mt10">
						<div class="bbs_hd"><a href="#" class="bbs_backtop rt">回到顶部</a><h3>快速回复  <a id='addemoji'onclick="show_emoji()"><img src="/static/emoji/img/grinning.png" title="添加表情" style="width: 23px;height: 23px;vertical-align: sub;" /></a></h3></div>
						{% include 'emoji.html' %}
						<div class="bbs_bd">
							<label for="content"></label>
							<a name="textarea"><textarea id="content" name="content"></textarea></a>
								<div class="bbs_bd_content p5">
									<input name="log_code" id="log_code" type="text" placeholder="验证码"
										   onfocus="$('#code_pic').click();yzmshow()" />

									<a href="javascript:void(0);" id="yzm" style="display: none"><img class="code_img" id="code_pic"
																									  onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
																									  src="{% url 'verifycode' %}"/></a>
									<div style="padding-top: 5px">
										<input type="button" id="reply" style="background: url('/static/images/reply.png') no-repeat;border: 0 none;width:105px;height: 35px;" value=" ">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="detail-rt-content bgcolor rt w380">
			<div class="rt-content-top p10 clearfix">
				<ul class="detail-rt-list clearfix">
					<li class="list-item-field p10 lt">
						<div><img src="/static/images/mgmoney.png" width="93" height="76"></div>
						<div>每股金额</div>
						<div>{{result.invest_amount}}元</div>
					</li>
					<li class="list-item-field p10 lt">
						<div><img src="/static/images/mbmoney.png" width="93" height="76"></div>
						<div>目标份额</div>
						<div>{{result.invest_num}}万份</div>
					</li>
					<li class="list-item-field p10 lt">
						<div><img src="/static/images/tzpeople.png" width="93" height="76"></div>
						<div>投资人</div>
						<div>{{invest_detail|length}}个人</div>
					</li>
				</ul>
			</div>
			<div class="rt-content-center p10">
				<div class="rt-progress">
					<em style="background:url(/static/images/detail-jindu.PNG) no-repeat;width:{{result.invest_num|add_with:amount}}%;"></em>
				</div>
				<div class="center-desc">
					<span class="desc-yy w190">已预约份数:{{amount}}万份</span><span class="desc-finish w190">完成率:{% widthratio amount result.invest_num 100 %}%</span>
				</div>
			</div>
			<div class="rt-content-bottom p20">
				<div class="bottom-pay-desc p10">
					<span class="pay-way w190">支付方式:第三方托管</span><span class="pay-time w190">剩余时间:{{ result.preheat_end_date |remain_time}}</span>
				</div>
				<div class="bottom-time-desc p10">
					<span class="start-time w190">发起时间:{{result.Preheat_date|date:"Y-m-j  " }}</span><span class="end-time w190">结束时间:{{result.preheat_end_date|date:"Y-m-j  "  }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--底部-->
{% include "footer.html" %}
<style type="text/css">
#alert {width: 500px;left: 40%;margin-left: -100px;text-align: center;top: 250px;background: #eee;position: fixed;z-index: 10000;}
#mask {background: #000;opacity: 0;position: fixed;z-index: 9999;top: 0;left: 0;}
</style>
</body>

</html>
