<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/index_page.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css" />
<script type="text/javascript" src="/static/js/owl.carousel.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.floatDiv.js"></script>
<script type="text/javascript">
   $(function(){
	   $('#seatch_norm').find('a').on("click",function(){
	   $(this).addClass("btn_blue").siblings("a").removeClass("btn_blue");
	   //alert($(this).text());
        var a = getElementsByClassName('btn_blue','choiceid');
        alert(a);
        var amount = $(".lastinput").children("#id_searchWord").val();
        alert(amount);
        checkparam(1);
       });
   });
   function getElementsByClassName(n,m) {
        var el = [],
                _el = document.getElementsByTagName('*');
        for (var i = 0; i < _el.length; i++) {
            if (_el[i].className == n) {
                el[el.length] = _el[i].getAttribute(m);
            }
        }
        return el;
    }
</script>

<style type="text/css">

div.transbox
{
  width: 300px;
  height: 204px;
  margin:30px;
  background-color:#372c3a;
  border: 1px solid black;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
  position:absolute;
  top:150px;
  left:730px;  
}
div.transbox p{color:#FFFFFF; margin:10px 20px}
</style>

<title>查看更多</title>
</head>
<body>


<div id="container">		
		<ul style="position:absolute;top:-14px;left:270px;">
			<li>
				<img src="/static/images/zhongchoulogo.png" />
			</li>
		</ul>
		
  		<ul class="ul7">
    		<li>
				<a href="{% url 'index_zc' %}">首页</a>
				<a href="{% url 'investor' %}">投资人风采</a>
				<a href="#">项目风采</a>
    			<a href="{% url 'publish' %}">项目发起</a>
				<a href="#">众筹社区</a>
			</li>  		
		</ul>
		
		<ul class="ul8">
    		<li>
     			<input type="text" placeholder="找项目,领头人" />
				<label class="lab3"><a href="{% url 'register' %}">注册</a></label>
				<label class="lab4"><a href="{% url 'login' %}">登录</a></label>
			</li>
		</ul>
     </div>
	 <div class="asssd">
		 <div id="seatch_norm" class="dhclass">
			<div id="search_list" class="search_list">
				<div class="serch_term">
				  <label class="choices" id="choices">
				  <label class="f1">投资人类别:</label>
				  <a class="btn_blue" href="#" choiceid="1"> 不限</a>
				  <a href="javascript:void(0)"   choiceid="2">每日精选</a>
				  <a href="javascript:void(0)"   choiceid="3">预热中</a>
				  <a href="javascript:void(0)" choiceid="4"> 众筹中</a>
				  <a href="javascript:void(0)"   choiceid="5">众筹成功</a>
				  <a href="javascript:void(0)"   choiceid="6">成功案例</a>
				  </label>
				</div>
			</div>
		 </div>	
	 </div>
	<div class="rotate">	
	<div id="menu">
	<div class="search_bd" id="result_form">
	<div id="menu2">
		<ul style="margin-top:35px;margin-left:90px;">
			<li>
				<label style="font-size:25px; color:#000000;">每日精选</label>
			</li>
		</ul>
		<ul class="mojing">
			
			<li style="position:absolute;left:348px">
				<img src="/static/images/heart.png" />				
			</li>
			<li style="position:absolute;left:532px">
				<img src="/static/images/flag.png" />
			</li>
			<li>
				<img src="/static/images/mojing.jpg" />	
			</li>
			<li>
				<ul class="Cul1">
					<div class="wzfudong">
					<li>
						<b style="color:#000000">魔镜在线</b>
					</li>
					<li>
						<label style="color:#000000;font-size:12px">魔镜在线-您的私人购物助理</label>
					</li>
					<li>
						<div class="input_btt"></div>
					</li>
					<li style="float:left">
						<label style="color:#000000;font-size:12px">融资目标</label><b style="color:#000000;;font-size:12px">200万</b>
					</li>
					<li style="float:left;margin-left:30px;">
						<label style="color:#000000;font-size:12px">已预约</label><b style="color:#000000;;font-size:12px">80%</b>
					</li>
					<li style="clear:both">
						<div style="border-top:1px solid #eeeef0; width:200px;height:1px;"></div>
					</li>
					<li style=" position:absolute;top:472px"><img src="/static/images/people.png" /></li>
					<li style=" position:absolute;left:463px;top:472px;"><img src="/static/images/tag.png" /></li>
					<li style="clear:both">
					<label style="color:#000000;font-size:12px;margin-left:25px;">都市人</label>
					<label style="color:#000000;;font-size:12px;margin-left:32px;">生活服务</label>
					</li>
					</div>
				</ul>
			</li>
		</ul>
		</div>
	</div>
	<div id="menu3">
	<ul class="mojing2">	
			<li style="position:absolute;left:580px">
				<img src="/static/images/heart.png" />				
			</li>
			<li style="position:absolute;left:761px">
				<img src="/static/images/flag.png" />
			</li>
			<li>
				<img src="/static/images/mojing.jpg" />	
			</li>
			<li>
				<ul class="Cul1">
					<div class="wzfudong">
					<li>
						<b style="color:#000000">魔镜在线</b>
					</li>
					<li>
						<label style="color:#000000;font-size:12px">魔镜在线-您的私人购物助理</label>
					</li>
					<li>
						<div class="input_btt"></div>
					</li>
					<li style="float:left">
						<label style="color:#000000;font-size:12px">融资目标</label><b style="color:#000000;;font-size:12px">200万</b>
					</li>
					<li style="float:left;margin-left:30px;">
						<label style="color:#000000;font-size:12px">已预约</label><b style="color:#000000;;font-size:12px">80%</b>
					</li>
					<li style="clear:both">
						<div style="border-top:1px solid #eeeef0; width:200px;height:1px;"></div>
					</li>
					<li style=" position:absolute;top:472px"><img src="/static/images/people.png" /></li>
					<li style=" position:absolute;left:693px;top:472px;"><img src="/static/images/tag.png" /></li>
					<li style="clear:both">
					<label style="color:#000000;font-size:12px;margin-left:25px;">都市人</label>
					<label style="color:#000000;;font-size:12px;margin-left:32px;">生活服务</label>
					</li>
					</div>
				</ul>
			</li>
		</ul>
	</div>
  	<div id="menu4">
	<ul class="mojing3">	
			<li style="position:absolute;left:808px">
				<img src="/static/images/heart.png" />				
			</li>
			<li style="position:absolute;left:990px">
				<img src="/static/images/flag.png" />
			</li>
			<li>
				<img src="/static/images/mojing.jpg" />	
			</li>
			<li>
				<ul class="Cul1">
					<div class="wzfudong">
					<li>
						<b style="color:#000000">魔镜在线</b>
					</li>
					<li>
						<label style="color:#000000;font-size:12px">魔镜在线-您的私人购物助理</label>
					</li>
					<li>
						<div class="input_btt"></div>
					</li>
					<li style="float:left">
						<label style="color:#000000;font-size:12px">融资目标</label><b style="color:#000000;;font-size:12px">200万</b>
					</li>
					<li style="float:left;margin-left:30px;">
						<label style="color:#000000;font-size:12px">已预约</label><b style="color:#000000;;font-size:12px">80%</b>
					</li>
					<li style="clear:both">
						<div style="border-top:1px solid #eeeef0; width:200px;height:1px;"></div>
					</li>
					<li style=" position:absolute;top:472px"><img src="/static/images/people.png" /></li>
					<li style=" position:absolute;left:923px;top:472px;"><img src="/static/images/tag.png" /></li>
					<li style="clear:both">
					<label style="color:#000000;font-size:12px;margin-left:25px;">都市人</label>
					<label style="color:#000000;;font-size:12px;margin-left:32px;">生活服务</label>
					</li>
					</div>
				</ul>
			</li>
		</ul>
	</div>	  
	<div id="menu5">
	<ul class="mojing4">	
			<li style="position:absolute;left:1040px">
				<img src="/static/images/heart.png" />				
			</li>
			<li style="position:absolute;left:1222px">
				<img src="/static/images/flag.png" />
			</li>
			<li>
				<img src="/static/images/mojing.jpg" />	
			</li>
			<li>
				<ul class="Cul1">
					<div class="wzfudong">
					<li>
						<b style="color:#000000">魔镜在线</b>
					</li>
					<li>
						<label style="color:#000000;font-size:12px">魔镜在线-您的私人购物助理</label>
					</li>
					<li>
						<div class="input_btt"></div>
					</li>
					<li style="float:left">
						<label style="color:#000000;font-size:12px">融资目标</label><b style="color:#000000;;font-size:12px">200万</b>
					</li>
					<li style="float:left;margin-left:30px;">
						<label style="color:#000000;font-size:12px">已预约</label><b style="color:#000000;;font-size:12px">80%</b>
					</li>
					<li style="clear:both">
						<div style="border-top:1px solid #eeeef0; width:200px;height:1px;"></div>
					</li>
					<li style=" position:absolute;top:472px"><img src="/static/images/people.png" /></li>
					<li style=" position:absolute;left:1150px;top:472px;"><img src="/static/images/tag.png" /></li>
					<li style="clear:both">
					<label style="color:#000000;font-size:12px;margin-left:25px;">都市人</label>
					<label style="color:#000000;;font-size:12px;margin-left:32px;">生活服务</label>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
	</div>	
		
</div>


<div id="footer">
	<ul class="ful">
		<ul class="ful1">
			<li>
				<label>合作伙伴</label>
				<label style="margin-left:150px;">友情链接</label>
				<label style="margin-left:145px;">联系我们</label>
			</li>
		</ul>
		<ul class="ful2">
			<li>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:50px;margin-left:50px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:-2px;margin-left:270px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:380px;margin-top:-2px;margin-left:480px;"></div>
				</label>
			</li>
		</ul>		
		<ul class="ful3">
			<li>
				<a href="#">天使客</a>				
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;天使街</a>	
			</li>
		</ul>
		<ul class="ful4">
			<li>			
				<a href="#">股权众筹</a>	
			</li>
			<li>
				<a href="#">众筹工坊</a>	
			</li>
		</ul>
		<ul class="ful5">
			<li>
				咨询热线:400-000-0000
			</li>
		</ul>
		<ul class="ful6">
			<li>
				<a href="#">&nbsp;京东众筹</a>				
			</li>
			<li>
				<a href="#">&nbsp;大家投</a>	
			</li>
		</ul>
		<ul class="ful7">
			<li>			
				<a href="#">新金融</a>	
			</li>
			<li>
				<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;P2P理财</a>	
			</li>
		</ul>
		<ul class="ful8">
			<li>
				公司邮箱:sys@pttjf.com
			</li>
		</ul>
		<ul class="ful9">
			<li>
				<a href="#">&nbsp;众筹之家</a>				
			</li>
			<li>
				<a href="#"></a>	
			</li>
		</ul>
		<ul class="ful10">
			<li>			
				<a href="#">证券中星</a>	
			</li>
			<li>
				<a href="#">中申网</a>	
			</li>
		</ul>
		<ul class="ful11">
			<li>
				公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室	
			</li>
		</ul>
		<ul class="ful12">
			<li>
				<img src="/static/images/8cm.jpg" width="120px;" height="120px;" />
			</li>
			<li class="fuldy">
				<label>订阅号</label>
			</li>
		</ul>
	</ul>
</div>
</body>

</html>