{% extends 'base_userinfo.html' %}
{% block content %}
        <div id="selfcenter" style="margin-left:20px;">
            <div class="ProCenter1"  id="anquanzhongxin">
				<div style="position: relative;top: 30px;left: -20px;">
					<label style="font-size:30px;">安全中心</label>
				</div>
				<a style="margin-top:50px; margin-left:-20px;float:left" data-dd="ghsj" href="javascript:void(0)"><label class="self-label">更换手机</label></a>
				<div style="float:left; margin-top:40px; margin-left:5px;width:1px;height:30px;background-color:#D5D5D5;overflow:hidden;"></div>
				<a style="margin-top:50px; margin-left:20px;float:left" data-dd="xgmm" href="javascript:void(0)" id="change"><label class="self-label">修改密码</label></a>
				<div style="clear:both"></div>
				<div style="width:600px;height:1px; background-color:#D5D5D5;overflow:hidden;margin-top:10px; margin-left:-20px;"></div>
            </div>
            <div class="prosonPage2">
                <div id = "safe_center"></div>
            </div>
        </div>

{% endblock %}