<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>葡萄藤金福登录</title>
<link rel="stylesheet" href="/static/css/signin.css" />
<link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
<div id="container">
  		<ul class="ul7">
    		<li>
				<a href="#">首页</a>
				<a href="#">关于我们</a>
				<a href="#">投资指引</a>
    			<a href="#">葡萄藤社区</a>
			</li>
  		
		</ul>
		
		<ul class="ul8">
    		<li>
     			<label class="lab1">24小时客服电话</label>
				<label class="lab2">400-8800-6799</label>
				<label class="lab3"><a href="#">注册</a></label>
				<label class="lab4"><a href="#">登录</a></label>
			</li>
		</ul>		
</div>

<div id="sub">
	<div id="div2">
  		<ul id="ul1">
		<ul id="ul4">
      		<li>
	  			<label>登录</label>
			</li>    
      		<li>
				<hr />
			</li>
    	</ul>
	
		<ul id="ul5">
      		<li>
				<label>手机号</label>
			</li>
	  		<li>
				<input type="text" />
			</li>
		</ul>
	
		<ul id="ul2">
			<li>
		    	<label>密码</label>
    		</li>
			<li>
	      		<label><input type="text" /></label>
    		</li>
	   </ul>
	
		<ul3 id="ul3">
      		<li>
				<hr />
			</li>
      		<li>
				<div style="margin-left:7px;"><input type="checkbox" />下次自动登录</div>
				<div style=" margin-left:460px;">忘记密码</div>
			</li>
			<li>
				<hr />
			</li>
		</ul>
	
    		<li>	
      			<input type="button" value="登录" style=" margin-top:20px; margin-left:45px;width:520px; height:30px;" />
   			</li>
   			<li>
      			<div style="margin-top:10px; margin-left:430px;font-size:12px;">没有葡萄藤金福账号,<a>注册</a></div>
    		</li>
		</ul>
	</div>
</div></body>
</html>
