<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册账户</title>
<link rel="stylesheet" href="/static/css/jinfuheader.css" />
<link rel="stylesheet" href="/static/css/signup.css" />

<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/signup.js"></script>
</head>

<body>
{% include "jinfuheader.html" %}

<div id="sub">
	<div id="div2">
        <form class="registerform" action="{% url 'register' %}" method="post">
       {% csrf_token %}
		<ul class="ul1">
		<ul id="ul2">	
			<li>
				<label>注册账户</label>
			</li>
			<li>
				<hr />
			</li>
		</ul>
	
		<ul id="ul3">
			<li>
				<label>手机</label>
			</li>		
			<li>
				{{ form.username }}

			</li>
		</ul>
	
		<ul id="ul4">
			<li>
				<label>密码</label>
				<label class="lab1">确认密码</label>
			</li>
			<li class="li1">
				{{ form.password }}
				
			</li>
			<li class="li2">
				{{ form.password2 }}
			</li>
		</ul>
		<ul id="ul5">
			<li>
				<label>短信验证</label>
				<label class="lab2">图片验证码</label>
			</li>
			<li>
				{{ form.smscode }}
					<input type="button" id="rulesubmit" style=" background-color:#4a3c70;position:absolute; z-index:1;width:88px;margin-left:10px;height:38px;margin-top:-5px; " value="发送验证码" />
			</li>
			<li class="li3">
				{{ form.vcode }}
			</li>
			<li class="li4">
				<img onclick="this.setAttribute('src',{% url 'verifycode' %} + '?nocache='+Math.random());"
                             src="{% url 'verifycode' %}"/>
			</li>
		</ul>
	
		<ul id="ul6">
			<li>
				<hr />
			</li>		
			<li>
				<div style=" margin-left:120px;">注册即视为同意葡萄藤金融<a href="{% url 'agreement' %}"><<服务条款>></a></div>
			</li>
			<li>
				<hr />
			</li>
				<li>
				<input type="submit" class="login_butt" id="login" value=" " class="border:0 none;" style="background:url(/static/images/zhuce.png);background-repeat:no-repeat;color:white;margin-top:20px; margin-left:-32px;width:512px; height:59px" />
			</li>
			<li>
				<div style="margin-top:10px; margin-left:320px;font-size:12px;">已有葡萄藤金服账号,<a href="{% url 'login' %}">登录</a></div>
				
			</li>
			<li style="position:absolute; top:502px; left:370px;">
				<img src="/static/images/smalllogo.png" />
			</li>
		</ul>
		
		</ul>
            </form>
	</div>
</div>
{% include "footer.html" %}
<script type="text/javascript">
    $(function(){
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                alert('{{ error }}');
            {% endfor %}

        {% elif form.password2.errors %}
            {% for error in form.password2.errors %}
                alert('{{ error }}');
            {% endfor %}

        {% elif form.vcode.errors %}
            {% for error in form.vcode.errors %}
                alert('{{ error }}');
            {% endfor %}

        {% elif form.smscode.errors %}
            {% for error in form.smscode.errors %}
                alert('{{ error }}');
            {% endfor %}
        {% endif %}
    });
	
	    //已登陆
        $(document).ready(function () {
            $('#logged li').hover(function () {
                $('ul', this).slideDown(200);
                $(this).children('a:first').addClass("hov");
            }, function () {
                $('ul', this).slideUp(100);
                $(this).children('a:first').removeClass("hov");
            });
        });
        //已登陆结束
        function T_Logout() {
            //alert("logout");
            QC.Login.signOut();
            WB2.logout(function () {
            //alert('mywblogout');
        });
    }
</script>
</body>
</html>
