<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>项目风采</title>
<link rel="stylesheet" href="/static/css/zcheader.css" />
<link rel="stylesheet" href="/static/css/promanager.css" />
<link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/birthday.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#daohang>ul>li>a").click(function(){
		$("#daohang li a").css("color","#808080");
		$(this).css("color","#000");
	
	});

	$("#id_birthday").datepicker({changeYear: true,
		changeMonth: true,
		dateFormat: 'yy-mm-dd',
		yearRange:"1900:2015"});
    $("#save_success").click(function(){alert("保存成功！");});
});
</script>
<script>
<!--取消和关注的切换-->
	$(function(){
		$('#focus-pro1').click(function(){
															 
			if($(this).val()=="取消关注"){
				
				$("#focus-pro1").attr("value","关注");			
			}else{
				$("#focus-pro1").attr("value","取消关注");	
			}		
		});
		
		$('#focus-pro2').click(function(){
			if($(this).val()=="取消关注"){
				$("#focus-pro2").attr("value","关注");			
			}else{
				$("#focus-pro2").attr("value","取消关注");	
			}		
		});
	});

<!--判断checkbox是否选中-->
	$(function(){
		$("#xieyi-next1").click(function(){
			var flag=$("#fengxingtishi").is(":checked");
			if(flag==true){
				return true;
			}else{
				return false;	
			}
		})
		
		$("#agree_fuwu").click(function(){
			var flag=$("#tiaokuan").is(":checked");
			if(flag==true){
				return true;
			}else{
				return false;	
			}
		})
	});

<!--获得领投人和跟投人的文本作为跳转的条件-->
	$(function(){
		$("#changeling").on("click",function(){

			alert($("#change_text").text());
		});
		
		$("#changegen").on("click",function(){
			alert($("#gentou_text").text());
		});
		
		var li1=$("li.item-1");
		$("#touzirenzheng").find(li1).click(function(){
			var ids=$(this).data("ee");
			$("#touzirenzheng").attr("data-ee","gtrdata");
		});
	});
	
	
	
<!--个人信息和机构信息的切换-->
	$(function(){	
		$("#gerens").on("click",function(){
			$("#gerens").attr("checked","checked");
			$("#jigous").attr("checked",false);	
			$("#geren").attr("style","display:block");
			$("#jigou").attr("style","display:none");
			$("#person").attr("src","/static/images/person.png");
			$("#mperson").attr("src","/static/images/mperson.png");
		});
		$("#jigous").on("click",function(){
			$("#jigous").attr("checked","checked");
			$("#gerens").attr("checked",false);			
			$("#geren").attr("style","display:none");
			$("#jigou").attr("style","display:block");
			$("#person").attr("src","/static/images/person2.png");
			$("#mperson").attr("src","/static/images/tperson.png");
		});

	});
</script>

<script>  
$(function () {
	$.ms_DatePicker({
            YearSelector: ".sel_year",
            MonthSelector: ".sel_month",
            DaySelector: ".sel_day"
    });
	$.ms_DatePicker();
}); 
</script> 
<script type="text/javascript">
	$(function(){
			$('#daohang').find('li').click(function(){
				var id =$(this).data('pp');
				$('#'+id).show().siblings().hide();
			});
	
			$('#Prodaohang').find('li').click(function(){
				var id =$(this).data('qq');
				alert(id);
				$('#'+id).show().siblings().hide();
			});
			
			$('#anquanzhongxin').find('li').click(function(){
				var id =$(this).data('dd');
				if (id =='xgmm' )
				{$.get("/safecenter/",function(data){ $('#safe_center').html(data.content_html);});}
				else
				{$.get("/change_phone_number/",function(data){ $('#safe_center').html(data.content_html);});};
			});

			$('#xiaoxitongzhi').find('li').click(function(){
				var id =$(this).data('aa');
				$('#'+id).show().siblings().hide();
			});
			$('#next_page1').find('li').click(function(){
				var id=$(this).data('tt');
				$('#'+id).show().siblings().hide();
			});
			$('#lingtouren').find('li').click(function(){
				var id=$(this).data('ee');
				$('#'+id).show().siblings().hide();
			});
			$('#gtren').find('li').click(function(){
				var id=$(this).data('bb');
				$('#'+id).show().siblings().hide();
			});
			$('#tzrenzheng').find('li').click(function(){
				var id=$(this).data('hh');
				$('#'+id).show().siblings().hide();
			});
			$('#tzrztiaokuan').find('li').click(function(){
				var id=$(this).data('yy');
				$('#'+id).show().siblings().hide();
			});
			$('#prorzmessage').find('li').click(function(){
				var id=$(this).data('jj');
				$('#'+id).show().siblings().hide();
			});						
	});
</script>
<script type="text/javascript">
$(function(){
    $('#selfcenterclick').click(function(){
             $.get("/safecenter/",function(data){ $('#safe_center').html(data.content_html);});
			});
	});
</script>


</head>
<body>
<!--头部-->
{% include "zcheader.html" %}


<!--中间内容-->

<div class="UserContent">
<div style="height:50px;"></div>
<div class="UserCenter">
<!--项目的tab按钮:包括基本信息,项目管理,投资认证,安全中心,消息通知,邀请好友-->
	<div class="ProChange" id="daohang">		
		<ul>
			<li data-pp="basicmessage">
				<a href="javascript:void(0);" style="color:#000;">基本信息</a>
			</li>
			<div class="Prohr"><hr /></div>
			<li data-pp="promanager">
				<a href="javascript:void(0);" style="color:#808080;">项目管理</a>
			</li>
			<div class="Prohr"><hr /></div>
			<li data-pp="invest">
				<a href="javascript:void(0);" style="color:#808080;">投资认证</a>
			</li>
			<div class="Prohr"><hr /></div>
			<li data-pp="selfcenter" id="selfcenterclick">
				<a href="javascript:void(0);" style="color:#808080;">安全中心</a>
			</li>
			<div class="Prohr"><hr /></div>
			<li data-pp="messageinfo">
				<a href="javascript:void(0);" style="color:#808080;">消息通知</a>
			</li>
			<div class="Prohr"><hr /></div>
			<li data-pp="invitefriend">
				<a href="javascript:void(0);" style="color:#808080;">邀请好友</a>
			</li>
		</ul>
	</div>
<!--项目的tab按钮 end-->

	<div class="div_right">
<!--基本信息-->
		<div id="basicmessage">
         <form class="userinfoform" action="{% url 'userinfo' %}" method="post"  enctype="multipart/form-data" >
             {% csrf_token %}
			<ul style="float:left" class="Userul">
				<li>
					<label style="font-size:30px;margin-left:-15px;">基本信息</label>
				</li>
				<li>
					<img src="{{ user.userinformation.photo_url }}" style="margin-left:-20px; margin-top:20px;"/>
				</li>
				<li style="margin-top:12px; margin-left:-10px;">
                	<a class="button-shangchuan" href="javascript:;">上传头像
						<input type="file" name="file"/>
                    </a>
				</li>
				<li style=" margin-top:12px; margin-left:3px;">
					<img src="/static/images/touzi.png" />
				</li>
			</ul>
			 <table class="Userul1" style="float:left;">
				 <tr class="user_nick">
					 <td><label>用户名</label></td>
					 <td><label>
						 {{ form.realname }}
					 </label></td>
				 </tr>

				 <tr class="user_name">
					 <td>
						 <label>关注行业</label>
					 </td>
					 <td>{{ form.cate }}</td>
				 </tr>
				 <tr>
					 <td>
						 <label>性别</label>
					 </td>
					 <td>{{ form.gender }}</td>
				 </tr>
				 <tr class="user_birth">
					 <td>
						 <label>生日</label>
					 </td>
					 <td>{{ form.birthday }}</td>
				 </tr>
				 <tr class="user_email">
					 <td>
						 <label>邮箱地址</label>
					 </td>
					 <td>{{ form.email }}</td>
				 </tr>
				 <tr class="user_city">
					 <td>
						 <label>居住城市</label>
					 </td>
					 <td>{{ form.city }}</td>
				 </tr>
				 <tr class="user_addre">
					 <td><label>居住地址</label></td>
					 <td>{{ form.address }}</td>
				 </tr>
				 <tr class="user_edu">
					 <td><label>学历</label></td>
					 <td>{{ form.education }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>月收入</label></td>
					 <td>{{ form.monthly_income }}</td>
				 </tr>
				 <tr class="user_income">
					 <td><label>婚姻状况</label></td>
					 <td>{{form.marriage}}</td>
				 </tr>
				 <tr class="user_wx">
					 <td><label>微信</label></td>
					 <td>{{form.wechat_num}}</td>
				 </tr>
				 <tr class="user_qq">
					 <td><label>QQ</label></td>
					 <td>{{form.qq_num}}</td>
				 </tr>
				 <tr class="user_wb">
					 <td><label>微博</label></td>
					 <td>{{form.weibo_num}}</td>
				 </tr>
				 <tr>
					 <td>
					 </td>
					 <td align="left">
						 <label>
							 <input id="save_success" class="button_save" type="submit" value="保存"/>
						 </label>
					 </td>
				 </tr>
			 </table>
         </form>
		</div>
<!--基本信息 end-->
	

<!--项目管理-->
		<div id="promanager" class="display">
			<div class="ProCenter" id="Prodaohang">
                <ul style="margin-left:-80px;">
                    <label style="font-size:30px;float:left; margin-top:-50px; padding-top:2px;">项目管理</label>		
                    <li data-qq="ltxm" style="float:left;padding-top:30px;">
                        <a href="javascript:void(0)">已投项目</a>
                    </li>
                    <li data-qq="gzxm" style="float:left;padding-top:30px;">
                        <a href="javascript:">关注的项目</a>
                    </li>
					<li data-qq="wdxm" style="float:left;padding-top:30px;">
						<a href="javascript:;">关注的人</a>
					</li>
					<li style=" float:left; margin-left:-310px;">
                        <div style="border-right:1px solid #eeeef0;width:1px; height:55px;"></div>								
                    </li>					
                    <li style=" float:left; margin-left:-210px;">
                        <div style="border-right:1px solid #eeeef0;width:1px; height:55px;"></div>					
                    </li>
                    <li style=" float:left; margin-left:-100px;">
                        <div style="border-right:1px solid #eeeef0;width:1px; height:55px;"></div>					
                    </li>
                    <li style="clear:both"></li>
                    <li>
                       <div style="border-top:1px solid #eeeef0;width:700px; height:1px;"></div>
                    </li>		
                </ul>
			</div>
<!--项目管理:领投项目-->
			<div class="prosonPage1"><!--定义内容的宽度,高度--->

                <div id="ltxm">
				{% if leader %}
			    {% for i in leader %}
                    <ul style="margin-left:-70px;">
                        <li style="float:left;margin-top:10px;">
                            <img src="{{ i.logo }}" />
                        </li>
                        <li>
                            <ul style="margin-top:-60px;padding-top:15px;">										
                                <li>
                                    <label style="margin-left:25px;">{{i.name}}</label>
                                </li>
								<li style="margin-left:210px;">
									<div style="border-top:1px solid #eeeef0;width:500px; height:1px;"></div>
								</li>
                            </ul>
                        </li>
                        <li>
                        	<ul style="float:left;padding-left:25px;">
                                <li>
                                    <label>融资金额</label><b>{{i.amount}}</b>
                                </li>
                                <li>
                                    <label>已融资</label><b>{{i.finish}}</b>
                                </li>
                                <li>
                                    <label>完成率</label><b style="color:#CC6633">{%  widthratio i.finish i.amount 100 %}%</b>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul style="float:left">
                                <li>
                                    <label>我已领投</label><b>150.00万</b>
                                </li>
                                <li>
                                    <label>我已跟投</label><b>0.00万</b>
                                </li>
                                <li>
                                    <label>认筹人数</label><b style="color:#CC6633">100%</b>
                                </li>
                            </ul>
                        </li>
                        <li style="float:left;margin-top:15px;margin-left:-150px;">
                         <div style="border-right:1px solid #eeeef0;width:1px; height:65px;"></div>
                        </li>
                        <li style="float:left;">
                        	<label style="margin-top:60px;"><img src="/static/images/redgou.png" /></label>
                         </li>
                         <li style="float:left;margin-top:4px;">
                            <label style="color:#C30;font-size:14px; font-weight:bold">众投完成</label>
                         </li>
                         <li style="float:left;">
                            <label><img src="/static/images/bluegou.png" /></label>
                         </li>
                         <li style="float:left;margin-top:4px;">
                            <label style="color:#C30;font-size:14px; font-weight:bold">已付款</label>
                        </li>
                    </ul>
                    <ul style="clear:both"></ul>
				{% endfor %}
				{% else %}
				     你没有领投项目！
				{% endif %}
                </div>



<!--项目管理:领投项目 end-->

<!--项目管理:我的项目-->                
               <div id="wdxm" class="display">

               		<ul>
                    	<li>
                        	<label style="text-align:center;">我没有创建的项目</label>
                        </li>
                    </ul>
               </div>
<!--项目管理:我的项目 end-->

<!--项目管理:关注项目-->                
               <div id="gzxm" class="display">
				   	{% if  attention_pr %}
			    	{% for i in  attention_pr %}
               		   <ul style="margin-left:-70px;">
                        <li style="float:left;margin-top:10px;">
                            <img src="/static/images/mojing.jpg" />												
                        </li>
                        <li>
                            <ul style="margin-top:-60px;padding-top:15px;">										
                                <li>
                                    <label style="margin-left:25px;">魔镜在线</label>
                                </li>
                                <li>
                                    <li style="margin-left:210px;">
                                        <div style="border-top:1px solid #eeeef0;width:500px; height:1px;"></div>
                                    </li>
                                </li>
                            </ul>                           
                        </li>
                        <li>
                        	<ul style="float:left;padding-left:25px;">
                                <li>
                                    <label>融资金额</label><b>150.00万</b>									
                                </li>
                                <li>
                                    <label>已融资</label><b>0.00万</b>								
                                </li>
                                <li>
                                    <label>完成率</label><b style="color:#CC6633">100%</b>					
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul style="float:left">
                                <li>
                                    <label>融资金额</label><b>150.00万</b>		
                                </li>
                                <li>
                                    <label>已融资</label><b>0.00万</b>								
                                </li>
                                <li>
                                    <label>完成率</label><b style="color:#CC6633">100%</b>					
                                </li>
                            </ul>
                        </li>
                        <li style="float:left;margin-top:15px;margin-left:-150px;">
                         <div style="border-right:1px solid #eeeef0;width:1px; height:65px;"></div>
                        </li>
                        <li style="float:left;">
                        	<label style="margin-top:60px;"><img src="/static/images/redgou.png" /></label>
                         </li>
                         <li style="float:left;margin-top:4px;">
                            <label style="color:#C30;font-size:14px; font-weight:bold">预热中</label>
                         </li>
                         <li>
							<label>
								<input id="focus-pro1" class="quxiao-attention" type="button" value="取消关注"/>
							</label>
						</li>
                    </ul>
                    <ul style="clear:both"></ul>
				{% endfor %}
				{% else %}
				     你还没有跟投项目！
				{% endif %}

               </div>
<!--项目管理:关注项目 end-->       
			</div>
		</div>
<!--项目管理 end-->

<!--投资认证 服务协议-->
    <div id="invest" class="display">
<!--投资认证 服务协议 end-->

<!--投资认证 风险提示-->
	<div id="fxts">
    	<div id="next_page1">
            <ul class="tzrzrule">
                <li style="font-size:30px;">
                    <label>投资认证</label>
                </li>
                <li style="font-size:24px;margin-top:20px;color:#4a3c70">
                    <label>风险提示</label>
                </li>
                <li style="margin-top:20px;margin-left:-35px;">
                    <div class="prompt">
                        <ul>
                            <li>                
                                <label>
                                    1.生死时速，A股上演半月惊魂。半年A股一路高歌猛进，但6月15日至今，A股却上演了急速暴跌的惊魂时刻。在13个交易日内，上证综指、中小板指、创业板指最
                                    幅度与暴跌周期均已超出07年530。即使对比海外牛市的中期调整也不遑多让。1987年美国股灾，标普500、纳斯达克指数分别征收资本利得税计划大幅下跌，台												                			轮A股创业板和中小板最大跌幅已与87年美国股灾相当，但耗时更短，单个交易日平均跌幅更大。
                                </label>
                            </li>
                            <li style="margin-top:30px;">
                                <label>
                                    2.生死时速，A股上演半月惊魂。半年A股一路高歌猛进，但6月15日至今，A股却上演了急速暴跌的惊魂时刻。在13个交易日内，上证综指、中小板指、创业板指最
                                    幅度与暴跌周期均已超出07年530。即使对比海外牛市的中期调整也不遑多让。1987年美国股灾，标普500、纳斯达克指数分别征收资本利得税计划大幅下跌，台											                			轮A股创业板和中小板最大跌幅已与87年美国股灾相当，但耗时更短，单个交易日平均跌幅更大。
                                </label>
                            </li>
                            <li style="margin-top:30px;">
                                <label>
                                    3.生死时速，A股上演半月惊魂。半年A股一路高歌猛进，但6月15日至今，A股却上演了急速暴跌的惊魂时刻。在13个交易日内，上证综指、中小板指、创业板指最
                                    幅度与暴跌周期均已超出07年530。即使对比海外牛市的中期调整也不遑多让。1987年美国股灾，标普500、纳斯达克指数分别征收资本利得税计划大幅下跌，台												                			轮A股创业板和中小板最大跌幅已与87年美国股灾相当，但耗时更短，单个交易日平均跌幅更大。
                                </label>
                            </li>
                        </ul>
                    </div>          		                
                </li>
                <li style="color:#e1604d;padding-top:10px">
                    <input type="checkbox" id="fengxingtishi"/>我已阅并同意该服务条款
                </li>
                <li style="float:left; margin-left:50px;padding-top:10px" data-tt="touzirenzheng">
                    <input id="xieyi-next1" class="xieyi_button" type="button" value="下一页" />
                </li>
            </ul>
        </div>
	</div>
<!--投资认证 风险提示 end-->
 
 
<!--投资认证 个人信息-->
	<div id="touzirenzheng" class="display">
            <div id="lingtouren">
                <ul class="tzrzMessage">
                    <li style="font-size:30px;margin-top:-100px;margin-left:-80px;">
                        <label>投资认证</label>
                    </li>
                    <li style="font-size:24px;margin-left:-80px;color:#4a3c70">
                        <label>请完善您的信息</label>
                    </li>
                    <li style="font-size:24px;margin-left:130px;color:#000">
                        <label>您是个人还是机构？</label>
                    </li>
                    <li style="margin-top:20px;">
                        <img id="person" src="/static/images/person.png" style="margin-left:100px" />
                        <img id="mperson" src="/static/images/mperson.png" style="margin-left:30px"/>
                    </li>
                	<li>
                        <ul>            			
                            <li style="float:left;margin-left:70px;color:#e1604d" >
                              <input id="gerens" checked="checked" type="radio" name="touzi" />我是个人                     
                            </li>
                            <li style="float:left;margin-left:60px;color:#e1604d" >
                              <input id="jigous"  type="radio" name="touzi"/>我是机构                     
                            </li>
                        </ul>  
                    </li>
                    <li style="clear:both"></li>
					<table id="geren" style="display:block;">
						<tr>
							<td width="100">真实姓名:</td>
							<td class="real_name"><input type="text"></td>
						</tr>
						<tr>
							<td>身份证号码:</td>
							<td class="icard"><input type="text"></td>
						</tr>
						<tr>
							<td colspan="2">请上传身份证,帮助我们快速核实您的身份</td>
						</tr>
						<tr style="height: 80px;">
							<td>身份证:</td>
							<td class="upload_file">
								<label>
									点击上传身份证扫描件或高清图片
									<input type="file" name="" class="myfile" />
								</label>
							</td>
						</tr>
						<tr align="center">
							<td colspan="2">
								<input class="button_save" type="button" value="提交">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								提交则视为同意天天搜贷<a href="#"><<服务条款>></a>
							</td>
						</tr>
					</table>
					<table id="jigou" style="display:none">
						<tr>
							<td>法人姓名:</td>
							<td class="real_name"><input type="text"></td>
						</tr>
						<tr>
							<td>身份证号码:</td>
							<td class="icard"><input type="text"></td>
						</tr>
						<tr>
							<td colspan="2">请上传相关证件,帮助我们快速核实您的身份</td>
						</tr>
						<tr>
							<td>营业执照</td>
							<td>组织机构代码</td>
							<td>税务登记证</td>
						</tr>
						<tr style="height: 80px;">
							<td class="upload_file"><label>
								点击上传营业执照扫描件或高清图片
								<input type="file" name="" class="myfile" />
							</label></td>
							<td class="upload_file"><label>
								点击上传组织机构代码证扫描件或高清图片
								<input type="file" name="" class="myfile" />
							</label></td>
							<td class="upload_file"><label>
								点击上传税务登记证扫描或高清图片
								<input type="file" name="" class="myfile" />
							</label></td>
						</tr>
						<tr align="center">
							<td colspan="2">
								<input class="button_save" type="button" value="提交">
							</td>
						</tr>
						<tr>
							<td colspan="3">
								提交则视为同意天天搜贷<a href="#"><<服务条款>></a>
							</td>
						</tr>
					</table>
                </ul>
               
           </div>
        </div>
 
  <!--投资认证 个人信息 end-->
</div>
<!--投资认证 end-->

<!--安全中心-->			
        <div id="selfcenter" class="display">
            <div class="ProCenter1"  id="anquanzhongxin">
                <ul>
                    <li style="margin-top:-20px; margin-left:-60px">
                        <label style="font-size:30px;">安全中心</label>
                    </li>
                    <li style="margin-top:30px; margin-left:-50px;float:left" data-dd="xgmm">
                        <a href="javascript:void(0)">修改密码</a>
                    </li>
                    <li style="float:left; margin-top:20px; margin-left:5px;">
                    <div style="width:1px;height:30px;background-color:#D5D5D5;overflow:hidden;"></div>
                    </li>
                    <li style="margin-top:30px; margin-left:20px;float:left" data-dd="ghsj">
                        <a href="javascript:void(0)" id="change">更换手机</a>
                    </li>
					<li style="clear:both"></li>
                    <li style="margin-top:10px; margin-left:-55px;">
                    <div style="width:600px; 	height:1px; background-color:#D5D5D5;overflow:hidden;"></div>
                    </li>			
                </ul>
            </div>
            <div  style="margin-top:-45px; margin-left:-55px" class="prosonPage2">
                <div id = "safe_center"></div>
            </div>
        </div>
<!---安全中心 end-->

<!--消息通知-->
		<div id="messageinfo" class="display">
                <div class="ProCenter2" id="xiaoxitongzhi">
                    <ul>
                        <li style="margin-left:-80px; margin-top:-20px;">
                            <label style="font-size:30px;">消息通知</label>
                        </li>
                        <ul style="margin-top:30px; margin-left:-120px">
                        <li data-aa="grxx" style="float:left">
                            <a href="javascript:void(0)">个人信息</a>
                        </li>
                        <li style="float:left">
                            <div style="width:1px;height:30px;background-color:#D5D5D5;overflow:hidden"></div>
                        </li>
                        <li data-aa="tz" style="float:left">
                            <a href="javascript:void(0)"> 通知</a>
                        </li>
                        <li style="float:left">
                            <div style="width:1px;height:30px;background-color:#D5D5D5;overflow:hidden"></div>
                        </li>
                        <li data-aa="txsz" style="float:left;margin-left:320px;">
                            <a href="javascript:void(0)"> 提醒设置</a>
                        </li>

                        </ul>
                        <li style="margin-left:-65px;">
                            <div style="width:700px;height:1px;background-color:#D5D5D5;overflow:hidden"></div>
                        </li>
                    </ul>
                </div>
			<div class="prosonPage2">


                <div id="grxx">
					{% if signal %}
					{% for i in signal %}
					{% ifequal i.type "2" %}
                    <ul class="personal-message">
                        <li style="margin-top:30px;">
                        <img src="{{i.user.userinformation.photo_url}}" width="60px" height="50px;" />
                        </li>
                        <li style="margin-left:80px;margin-top:-50px;">
                            <img src="/static/images/news.png"  />								
                        </li>
                        <li style="margin-left:150px;margin-top:-20px;">
                            <label>产品开发的Timeline?</label>
                        </li>
                        <li style="margin-left:150px;">
                            <label style="padding-left:10px;">{{i.user.userinformation.realname}}</label>
                            <label>{{i.add_date|date:"Y-m-j  H:i:s" }}</label>
                        
                            <label style="padding-left:50px;">都市人</label>
                            <label>于1小时前回复</label>
                        </li>
                        <li style="margin-left:620px; margin-top:-20px;">
                            <input type="button" class="send-btn" value="回复" />
                        </li>
                    </ul>


                    <ul style="padding:15px 0px;">
                        <li style="margin-left:-30px; margin-top:20px;">
                            <div style="width:700px; height:1px;background-color:#D5D5D5"></div>
                        </li>
                    </ul>
					{% endifequal %}
					{% endfor %}
					{% else %}
					<ul>
                        <li>
                            <label>您还没有收到消息！</label>
                        </li>
                    </ul>
					{% endif %}
                   
                </div>
				<div id="tz" class="display">
					{% if signal %}
					{% for i in signal %}
					{% ifequal i.type "2" %}
                    <ul class="personal-message">
                        <li style="margin-top:30px;">
                        <img src="{{i.user.userinformation.photo_url}}" width="60px" height="50px;" />
                        </li>
                        <li style="margin-left:80px;margin-top:-50px;">
                            <img src="/static/images/news.png"  />
                        </li>
                        <li style="margin-left:150px;margin-top:-20px;">
                            <label>产品开发的Timeline?</label>
                        </li>
                        <li style="margin-left:150px;">
                            <label style="padding-left:10px;">{{i.user.userinformation.realname}}</label>
                            <label>{{i.add_date|date:"Y-m-j  H:i:s" }}</label>

                            <label style="padding-left:50px;">都市人</label>
                            <label>于1小时前回复</label>
                        </li>
                        <li style="margin-left:620px; margin-top:-20px;">
                            <input type="button" class="send-btn" value="回复" />
                        </li>
                    </ul>


                    <ul style="padding:15px 0px;">
                        <li style="margin-left:-30px; margin-top:20px;">
                            <div style="width:700px; height:1px;background-color:#D5D5D5"></div>
                        </li>
                    </ul>
					{% endifequal %}
					{% endfor %}
					{% else %}
					<ul>
                        <li>
                            <label>您还没有收到通知！</label>
                        </li>
                    </ul>
					{% endif %}

                </div>
                <div id="txsz" class="display">
					<table class="proleft_detail" width="700" style="padding: 10px 0">
						<tr>
							<td width="220" rowspan="6">
								<img width="200" height="130" src="/static//images/mojing.jpg"></td>
							<td align="left">魔镜在线</td>
							<td align="right" colspan="4">
								<div class="btn">
									<a href="#"><img src="/static/images/delete.png"></a>
								</div>
								<div class="btn">
									<a href="#"><img src="/static/images/save.png"></a>
								</div>

							</td>
						</tr>
						<tr>
							<td colspan="3">
								<div style="border-bottom: 1px solid #a8a8a8"></div>
							</td>
						</tr>
						<tr>
							<td width="16" class="shows">
								<div class="checkbox">
									<input id="example" type="checkbox">
									<label for="example"></label>
								</div>
								<label class="lbl-text">众筹开始</label>
							</td>
							<!--<td align="right"><input type="button"></td>-->
						</tr>
						<tr>
							<td class="shows" width="140">
								<div class="checkbox">
									<input id="example1" type="checkbox">
									<label for="example1"></label>
								</div>
								<label class="lbl-text">预约金额大于</label></td>
							<td class="write-text"><input type="text"></td>
						</tr>
						<tr>
							<td class="shows" width="140">
								<div class="checkbox">
									<input id="example2" type="checkbox">
									<label for="example2"></label>
								</div>
								<label class="lbl-text">预约率大于</label></td>
							<td class="write-text"><input type="text"></td>
						</tr>
						<tr>
							<td class="shows" width="140">
								<div class="checkbox">
									<input id="example3" type="checkbox">
									<label for="example3"></label>
								</div>
								<label class="lbl-text">预约人数大于</label></td>
							<td class="write-text"><input type="text"></td>
						</tr>
					</table>
                </div>
			</div>
		</div>
<!--消息通知 end-->

<!--邀请好友-->
	<div id="invitefriend" class="display">
		<div class="ProCenter3">
			<ul>
				<li style="margin-left:-70px; margin-top:-20px;">
					<label style="font-size:30px;">邀请好友</label>
				</li>
				<li style="margin-left:-65px; margin-top:30px;">
					<img src="/static/images/gift2.png" />
				</li>
				<li style="margin-left:50px;margin-top:-55px;">
					<label><b>邀请有好礼</b></label>
					<label>已邀请0个好友</label>
					<label><div style="border-top:1px solid #eeeef0;width:100px;height:1px;margin-left:95px;"></div></label><br />
					<label>扫描二维码或复制链接分享给好友注册,有意想不到的惊喜!</label>
				</li>
				<li style="margin-left:35px;margin-top:30px;">
					<img src="/static/images/8cm.jpg" style="width:258px;height:258px"/>					
				</li>
				<li style="margin-top:-240px;margin-left:350px;">
					<label><div style="width:1px;height:222px; border-right:1px solid #eeeef0;"></div></label>				
				</li>
				<ul class="giftpadding" style="margin-top:-240px;margin-left:380px;">				
					<li>
						<label><textarea cols="40" rows="2" id="biao1">http://42.96.131.5:8001/</textarea></label>
					</li>
					<li >
						<label><input class="input_butt" type="button" onClick="copyUrl()" value="一键复制" /></label>
					</li>
				</ul>
			</ul>
		</div>
	</div>
<!--邀请好友 end-->

</div>
	<div class="ProRight">
	</div>
</div>
</div>
 <script type="text/javascript">
	 function copyUrl()
	  {
		  var Url=document.getElementById("biao1");
		  Url.select(); // 选择对象
		  document.execCommand("Copy"); // 执行浏览器复制命令
		  alert("已复制好，可贴粘。");
	  }
  </script>



<!--底部-->
{% include "footer.html" %}
</body>
</html>
