<!DOCTYPE html>
<html>
<head>
<style>
body {position: relative;}
#test {background-color:red;width:30%;min-height:50%;text-align: center;margin-right:auto;
margin-left:auto;}
ul
{
    width:30%;
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
width:120px;

padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#cc0000;
}
#right {float:left;}
</style>
</head>

<body>
<div id="test">
    <div>
<ul>
<li><a href="/guide/">Home</a></li>
<li><a href="/user/">News</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#about">About</a></li>
</ul></div>
    <div id="right"><p>xoooooo oooooo</p></div>
    </div>

</body>
</html>
