<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>葡萄藤众筹首页</title>

</head>
<body>
<div id="container">		
		<ul style="position:absolute;top:-12px;left:150px;">
			<li>
				<img src="/static/images/zhongtoulogo.png" />
			</li>
		</ul>
		
  		<ul class="ul7">
    		<li>
				<a href="{% url 'index_zc' %}">首页</a>
				<a href="{% url 'investor' %}">投资人风采</a>
				<a href="{% url 'project' %}">项目风采</a>
    			<a href="{% url 'publish' %}">项目发起</a>
				<a href="{% url 'bbsindex' %}">众筹社区</a>
			</li>  		
		</ul>
		
		<ul class="ul8">
    		<li>
     			<label>
                	<input type="text" style="width:140px;height:17px;" placeholder="找项目,领头人" />
                    <input type="submit" class="seacher-btn" value=" " style="border:none;background:url(/static/images/topseacher.png);background-repeat:no-repeat;color:white;width:28px;height:24px;margin-left:-9px;"  />				  				
				</label>
				{% ifequal user.id None %}
				    <label class="lab3"><a href="{% url 'register' %}">注册</a></label>
				    <label class="lab4"><a href="{% url 'login' %}">登录</a></label>
				{% else %}			
				    <ul id="top_r" class="top_name">
                       <div id="logged">
                          <a id="check_log" style="display: none">1</a>
                          <li><a href="#"><img src="{{ user.userinformation.photo_url }}"/></a>{{ user.username }}
                             <ul>
                                <li><a href="{% url 'userinfo' %}">我的资料</a></li>
                                <li><a href="{% url 'logout' %}" onclick="T_Logout()">退出</a></li>
						     </ul>
                          </li>
					   </div>
                    </ul>

                {% endifequal %}
			
		</ul>
</div>


</body>
</html>
